.outer-cnr {
    height: 100%;
    padding: 1rem;
    overflow: auto;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    align-content: space-around;
}

.message, .details {
    max-height: 100%;
    overflow: auto;
}

.message {
    flex: 1;
}

.details {
    flex: 2;
    visibility: hidden;
    background-color: #333;
    color: white;
}

.btn-cnr {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.btn-cnr>button {
    flex: 0 0 auto;
}

.filler {
    flex: 1;
}
