<div class="outer-cnr"
     [class.locked]="isLocked"
     matTooltip="{{inode.name}}">

     <div class="image"
          [style.backgroundImage]="iconUrl"
          [style.height]="iconWidth"
          [style.width]="iconWidth">
          <img class="link" *ngIf="inode.isLink()" [src]="linkIcon">
     </div>

     <div class="label"
          [style.width]="iconWidth">{{inode.name}}</div>

     <div class="selector"
          (click)="onSelect($event, inode)"
          matTooltip="halte STRG um mehrere Objekte auszuwählen">
          <mat-icon class="material-symbols-outlined">add</mat-icon>
     </div>

</div>