<div class="outer-cnr mat-elevation-z1"
     [class.mat-elevation-z4]="selected"
     matTooltip="{{inode.name}}"
     (contextmenu)="contextMenu.show($event)"
     tabIndex="1">

    <!-- 
        Der Menu-Trigger ist unsichtbar aber per CSS auf die Mitte des Items
        positioniert. Ausgelöst wird er durch einen rechts-Klick auf das Item.
        Durch die Positionierung auf den Mittelpunkt des Items wird auch das 
        Menu an exakt dieser Stelle geöffnet.
    -->
    <!-- <span class="menu-trigger" [matMenuTriggerFor]="contextMenu">
    </span> -->
    <app-files-context-menu #contextMenu
                            (inode)="inode"
                            (open)="onOpen()"
                            (rename)="onRename()"
                            (delete)="onDelete()"
                            (cut)="onCut()"
                            (copy)="onCopy()"
                            (paste)="onPaste()"
                            (showProps)="onShowProps()">

    </app-files-context-menu>

    <img class="thumbnail"
         [src]="iconUrl"
         (click)="onOpen()">
    <div class="label">{{inode.name}}</div>

    <mat-checkbox class="selector"
                  color="primary"
                  (change)="onSelectorChange($event)"
                  [checked]="selected"></mat-checkbox>
</div>