:host {
    position: relative;
    display: inline-block;
    background-color: white;
}

.outer-cnr {
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

.thumbnail {
    display: block;
    width: 100%;
}

.label {
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selector {
    position: absolute;
    top: 4px;
    left: 4px;
}