<div class="outer-cnr"
     [style.width]="iconWidth"
     matTooltip="{{inode.name}}"
     (contextmenu)="contextMenu.show($event)">

     <app-files-item-context-menu #contextMenu
                                  (inode)="inode"
                                  (open)="onOpen()"
                                  (rename)="onRename()"
                                  (delete)="onDelete()"
                                  (cut)="onCut()"
                                  (copy)="onCopy()"
                                  (paste)="onPaste()"
                                  (showProps)="onShowProps()">

     </app-files-item-context-menu>

     <img class="thumbnail"
          [src]="iconUrl"
          (click)="onOpen()"
          draggable="false">
     <div class="label">{{inode.name}}</div>

     <mat-checkbox class="selector"
                   color="primary"
                   (change)="onSelectorChange($event)"
                   [checked]="selected"></mat-checkbox>
</div>