.outer-cnr {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    padding: 0.5rem;
}

.locked {
    filter: opacity(50%);
}

.image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.label {
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selector {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    padding: 2px;
    border-radius: 2px;
    display: none;
    background-color: lightgray;
    color: white;
}

.link {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 28px;
}

.outer-cnr:hover>.selector {
    display: block;
}

