:host {
    height: 100%;
    overflow: auto;
}

.outer-cnr {
    position: relative;
    display: block;
    height: 100%;
    overflow: auto;
    padding: 1rem;    
}

.add-widget-btn {

    position: fixed;
    top: 1rem;
    left: 1rem;
}

mat-grid-list {
    height: 100%;
}
