<div class="outer-cnr">

    <div class="content"
         [class.hidden]="showOptions">
        <ng-container #viewCnr>
        </ng-container>
    </div>

    <app-dashboard-widget-properties [id]="id"
                                     [width]="width"
                                     [height]="height"
                                     (close)="toggleOptions()"
                                     (changeDimensions)="onChangeDimensions($event)"
                                     *ngIf="showOptions"></app-dashboard-widget-properties>

    <div class="options-menu mat-elevation-z3"
         *ngIf="!showOptions">
        <mat-icon class="material-symbols-outlined"
                  matTooltip="Widget verschieben">drag_pan</mat-icon>
        <button mat-icon-button
                (click)="onDeleteWidget()"
                matTooltip="Widget löschen">
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
        </button>
        <button mat-icon-button
                (click)="toggleOptions()"
                matTooltip="Größe des Widget ändern">
            <mat-icon class="material-symbols-outlined">aspect_ratio</mat-icon>
        </button>
    </div>
</div>