<div class="outer-cnr">

    <div class="content"
         [class.hidden]="showOptions">
        <ng-container [ngComponentOutlet]="widgetType"></ng-container>
    </div>

    <app-dashboard-widget-properties [id]="id"
                                     [width]="width"
                                     [height]="height"
                                     (close)="toggleOptions()"
                                     (changeDimensions)="onChangeDimensions($event)"
                                     *ngIf="showOptions"></app-dashboard-widget-properties>

    <button mat-icon-button
            class="options-menu"
            *ngIf="!showOptions"
            [matMenuTriggerFor]="optionsMenu">
        <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
    </button>

    <mat-menu #optionsMenu="matMenu">

        <button mat-menu-item (click)="onDeleteWidget()">
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
            <span>Widget löschen</span>
        </button>
        
        <button mat-menu-item (click)="toggleOptions()">
            <mat-icon class="material-symbols-outlined">aspect_ratio</mat-icon>
            <span>Größe anpassen</span>
        </button>
    
    </mat-menu>
</div>