<div class="outer"
     [class.labelBefore]="labelBefore">
    <div class="inner"
         [class.horizontal]="horizontal">
        <label [for]="input"
               *ngIf="labelBefore && label">
            {{label}}</label>
        <mat-icon class="material-symbols-outlined"
                  (click)="increment()">{{decrIcon}}</mat-icon>
        <input type="number"
               #input
               [style.width]="fieldWidth"
               (input)="onInput($event)"
               [value]="value"
               [min]="min"
               [max]="max">
        <mat-icon class="material-symbols-outlined"(click)="decrement()">{{incrIcon}}</mat-icon>
        <label [for]="input"
               *ngIf="!labelBefore && label">{{label}}</label>
    </div>
</div>