<form [formGroup]="eventForm"
      class="grid-container">

       <!-- Titel -->
       <mat-form-field class="col-1-4">
              <mat-label>Titel</mat-label>
              <input matInput
                     appAutoFocus
                     formControlName="title">
              <mat-error *ngIf="eventForm.get('title')!.hasError('required')">Bitte ausfüllen</mat-error>
       </mat-form-field>

       <!-- Privater Termin? -->
       <mat-slide-toggle class="col-1-4"
                         color="primary"
                         formControlName="private">privater Termin</mat-slide-toggle>

       <!-- Ganz-tägiger Termin -->
       <mat-slide-toggle #fullDayToggle
                         class="col-1-4"
                         color="primary"
                         (change)="onFullDateChange($event)"
                         formControlName="fullDay">ganztägiger Termin</mat-slide-toggle>


       <!-- Start-Datum -->
       <mat-form-field [class.col-1-2]="fullDayToggle.checked"
                       [class.col-1]="!fullDayToggle.checked">
              <mat-label>Datum</mat-label>
              <input matInput
                     formControlName="startDate"
                     [matDatepicker]="startDatePicker">
              <mat-datepicker-toggle matIconSuffix
                                     [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
       </mat-form-field>

       <mat-form-field class="col-2"
                       [class.hidden]="fullDayToggle.checked">
              <mat-label>Start</mat-label>
              <input matInput
                     type="time"
                     formControlName="startTime">
       </mat-form-field>

       <mat-form-field [class.col-3-4]="fullDayToggle.checked"
                       [class.col-3]="!fullDayToggle.checked">
              <mat-label>End-Datum</mat-label>
              <input matInput
                     formControlName="endDate"
                     [matDatepicker]="endDatePicker">
              <mat-datepicker-toggle matIconSuffix
                                     [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
       </mat-form-field>

       <mat-form-field class="col-4"
                       [class.hidden]="fullDayToggle.checked">
              <mat-label>Ende</mat-label>
              <input matInput
                     type="time"
                     formControlName="endTime">
       </mat-form-field>

       <div class="col-1-4">
              <div id="quillToolbar">

                     <span class="ql-formats">
                            <select class="ql-header">
                                   <option value="0">Absatz</option>
                                   <option value="1">Überschrift 1</option>
                                   <option value="2">Überschrift 2</option>
                            </select>
                     </span>

                     <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                     </span>

                     <span class="ql-formats">
                            <select class="ql-align"></select>
                     </span>

                     <span class="ql-formats">
                            <button class="ql-list"
                                    value="ordered"></button>
                            <button class="ql-list"
                                    value="bullet"></button>
                     </span>

                     <span class="ql-formats">
                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                     </span>
              </div>

              <div id="quillHost">
              </div>
       </div>

</form>