<h1 mat-dialog-title>Termin bearbeiten</h1>
<mat-dialog-content>


    <mat-tab-group>

        <!-- Core Daten -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span>Termin</span>
                <span class="invalid-marker"
                      *ngIf="!mainFormValid">*</span>
            </ng-template>
            <app-calendar-event-editor-main [event]="event"
                                            (valid)="onMainFormValidChange($event)">
            </app-calendar-event-editor-main>
        </mat-tab>

        <!-- Wiederholungen -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span>Wiederholung</span>
                <span class="invalid-marker"
                      *ngIf="!recurringFormValid">*</span>
            </ng-template>
            <app-calendar-event-editor-recurring [event]="event"
                                           (valid)="onRecurringFormValidChange($event)">
            </app-calendar-event-editor-recurring>
        </mat-tab>

        <!-- Personen -->
        <mat-tab label="Personen">
            <div>Bruno, Paul, Anne</div>
        </mat-tab>

        <!-- Ort -->
        <mat-tab label="Ort">
            <div>Somewhere over the Rainbow</div>
        </mat-tab>

        <!-- Hashtags -->
        <mat-tab label="Tags">
            <app-hashtag-selector [(hashTags)]="hashTags"></app-hashtag-selector>
        </mat-tab>

    </mat-tab-group>
</mat-dialog-content>

<!-- die ButtonArea -->
<mat-dialog-actions>
    <button mat-flat-button
            color="primary"
            (click)="onSave()"
            [disabled]="!isValid">Speichern</button>
    <button mat-button
            color="primary"
            [mat-dialog-close]="false">Abbrechen</button>
</mat-dialog-actions>