.outer-container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem; 
}

.buttons {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.content {
    flex: 1 1 auto;
}

.invalid-marker {
    margin-left: 0.5rem;
    color: red;
}
