.hidden {
  display: none !important;
}

mat-slide-toggle {
  margin: 1rem;
}

.grid-container {

  display: grid;
  grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  gap: 1rem;

}

.col-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}


.col-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.col-1-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}
