.outer-container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem; 
}

.buttons {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.content {
    flex: 1 1 auto;
    overflow: auto;
}

.invalid-marker {
    margin-left: 0.5rem;
    color: red;
}

.tab-icon {
    margin-right: 0.5rem;
}