<div class="outer-container mat-app-background">

    <mat-tab-group class="content"
                   [mat-stretch-tabs]="false">

        <!-- Core Daten -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span>Termin</span>
                <span class="invalid-marker"
                      *ngIf="!mainFormValid">*</span>
            </ng-template>
            <app-calendar-event-editor-main [event]="fullEvent.core"
                                            (valid)="onMainFormValidChange($event)">
            </app-calendar-event-editor-main>
        </mat-tab>

        <!-- Wiederholungen -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span>Wiederholung</span>
                <span class="invalid-marker"
                      *ngIf="!recurringFormValid">*</span>
            </ng-template>
            <app-calendar-event-editor-recurring [event]="fullEvent.core"
                                                 (valid)="onRecurringFormValidChange($event)">
            </app-calendar-event-editor-recurring>
        </mat-tab>

        <!-- Personen -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span>Personen</span>
                <span class="invalid-marker"
                      *ngIf="!personFormValid">*</span>
            </ng-template>
            <app-calendar-event-editor-person [requiredUsers]="fullEvent.reqPersons"
                                              [optionalUsers]="fullEvent.optPersons"
                                              (valid)="onPersonFormValidChange($event)">
            </app-calendar-event-editor-person>
        </mat-tab>

        <!-- Hashtags -->
        <mat-tab label="Tags">
            <app-hashtag-selector [(hashTags)]="fullEvent.hashTags"></app-hashtag-selector>
        </mat-tab>

        <!-- Files -->
        <mat-tab label="Anhänge">
            <app-calendar-event-editor-files [(attachments)]="fullEvent.attachments"
                                             (filesChange)="onUploadChange($event)">
            </app-calendar-event-editor-files>
        </mat-tab>

    </mat-tab-group>

    <div class="buttons">
        <button mat-flat-button
                color="primary"
                (click)="onSave()"
                [disabled]="!isValid">Speichern</button>
        <button mat-button
                (click)="onGoBack()"
                color="primary">Zurück</button>
    </div>
</div>