<form [formGroup]="recurringForm"
      class="scrollable">

    <mat-slide-toggle #recurring
                      [checked]="isRecurring"
                      (change)="onChangeRecurring($event)"
                      color="primary">Wiederkehrender Termin</mat-slide-toggle>

    <div [class.hidden]="!recurring.checked"
         class="scrollable grid-container">

        <!-- Frequenz -->
        <mat-form-field class="col-1">
            <mat-label>Wiederholen alle</mat-label>
            <input matInput
                   formControlName="interval"
                   type="number"
                   width="3">
            <mat-error *ngIf="hasError('interval', 'required')">Bitte ausfüllen</mat-error>
        </mat-form-field>

        <mat-form-field class="col-2">
            <mat-label>Tage, Wochen, Monate, Jahre</mat-label>
            <mat-select #repFreq
                        formControlName="repeatFreq"
                        (valueChange)="onFrequenceChange($event)">
                <mat-option value="DAILY">Tage</mat-option>
                <mat-option value="WEEKLY">Wochen</mat-option>
                <mat-option value="MONTHLY">Monate</mat-option>
                <mat-option value="YEARLY">Jahre</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('repeatFreq', 'required')">Bitte ausfüllen</mat-error>
        </mat-form-field>

        <!-- Wochentage -->
        <mat-form-field class="col-1-2"
                        [class.hidden]="repFreq.value !== 'WEEKLY'">
            <mat-label>Jeweils am</mat-label>
            <mat-select multiple="true"
                        formControlName="weekDays">
                <mat-option *ngFor="let day of daysOfWeek"
                            [value]="day.value">{{day.label}}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('weekDays', 'required')">Bitte ausfüllen</mat-error>
        </mat-form-field>

        <!-- Monats-Tage -->
        <mat-form-field class="col-1-2"
                        [class.hidden]="repFreq.value !== 'MONTHLY'">
            <mat-label>Jeweils am</mat-label>
            <mat-select multiple="true"
                        formControlName="monthDays">
                <mat-option *ngFor="let day of daysOfMonth"
                            [value]="day">{{day}}.</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('monthDays', 'required')">Bitte ausfüllen</mat-error>
        </mat-form-field>


        <!-- Endet nach...  -->
        <mat-form-field class="col-1">
            <mat-label>Ende</mat-label>
            <mat-select #repMode
                        formControlName="repMode"
                        (valueChange)="onRepeatModeChange($event)">
                <mat-option value="REPEAT_INFINITE">endet nie</mat-option>
                <mat-option value="REPEAT_UNTIL">endet am</mat-option>
                <mat-option value="REPEAT_N_TIMES">endet nach</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('repMode', 'required')">Bitte ausfüllen</mat-error>
        </mat-form-field>

        <!-- Endet am... -->
        <mat-form-field class="col-2"
                        [class.hidden]="repMode.value !== 'REPEAT_UNTIL'">
            <mat-label>Ende-Datum</mat-label>
            <input matInput
                   formControlName="repUntil"
                   [matDatepicker]="repEndPicker">
            <mat-datepicker-toggle matIconSuffix
                                   [for]="repEndPicker"></mat-datepicker-toggle>
            <mat-datepicker #repEndPicker></mat-datepicker>
            <mat-error *ngIf="hasError('repUntil', 'required')">Bitte ausfüllen</mat-error>
        </mat-form-field>

        <!-- Anzahl von wiederholungen -->
        <mat-form-field class="col-2"
                        [class.hidden]="repMode.value !== 'REPEAT_N_TIMES'">
            <mat-label>Nach x Terminen</mat-label>
            <input matInput
                   type="number"
                   formControlName="repCount">
            <mat-error *ngIf="hasError('repCount', 'required')">Bitte ausfüllen</mat-error>
            <mat-error *ngIf="hasError('repCount', 'min')">Mindestens eine Wiederholung nötig</mat-error>
        </mat-form-field>
    </div>

    <div class="scrollable col-1-2">

        <mat-chip-listbox>
            <mat-chip *ngFor="let date of all">
                {{date | date:"dd.MM.yyyy"}} {{event.start | date:"HH:mm"}}-{{event.end | date:"HH:mm"}}
                <button matChipRemove
                        (click)="addExcludeRule(date)">
                    <mat-icon  class="material-symbols-outlined">cancel</mat-icon>
                </button>
            </mat-chip>

            <mat-chip *ngIf="repMode.value === 'REPEAT_INFINITE'"
                      matTooltip="Unendlich viele weitere Termine...">&nbsp;...&nbsp;</mat-chip>
        </mat-chip-listbox>
    </div>
</form>