
.buttons {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.tab-content {
    display: block;
    height: 400px;
    /* width: 350px; */
    margin-top: 1rem;
}

.invalid-marker {
    margin-left: 0.5rem;
    color: red;
}
