<!-- <button mat-flat-button (click)="onPickFiles()">Test</button> -->
<div class="outer-container">
    <app-toolbar class="toolbar small-bottom-lightgray-border">

        <button mat-icon-button
                matTooltip="Dateien hinzu fügen"
                (click)="onPickINodes()">
            <mat-icon class="material-symbols-outlined">attach_file_add</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Dateien hoch laden"
                (click)="fileDialog.click()">
            <mat-icon class="material-symbols-outlined">cloud_upload</mat-icon>
            <input class="hidden"
                   #fileDialog
                   type="file"
                   multiple="true"
                   (change)="onFileUploadBtn($event)">
        </button>
    </app-toolbar>

    <div class="content"
         [appDropTarget]="attachmentsFolder"
         (filesDropped)="onFilesDropped($event)">

        <a class="inode"
           *ngFor="let inode of inodesToRender"
           target="_blank"
           href="viewer/show/{{inode.uuid}}"
           [matTooltip]="inode.name">

            <img class="icon"
                 [src]="getIcon(inode)">

            <span class="label">{{inode.name}}</span>

            <button mat-mini-fab class="delete" (click)="onDelete(inode, $event)">
                <mat-icon class="material-symbols-outlined">delete</mat-icon>
            </button>
        </a>
    </div>

</div>