<form [formGroup]="eventForm"
      class="grid-container">

       <!-- Titel -->
       <mat-form-field class="full">
              <mat-label>Titel</mat-label>
              <input matInput
                     appAutoFocus
                     formControlName="title">
              <mat-error *ngIf="eventForm.get('title')!.hasError('required')">Bitte ausfüllen</mat-error>
       </mat-form-field>

       <!-- Privater Termin? -->
       <mat-slide-toggle class="full"
                         color="primary"
                         formControlName="private">privater Termin</mat-slide-toggle>

       <!-- Ganz-tägiger Termin -->
       <mat-slide-toggle #fullDayToggle
                         class="full"
                         color="primary"
                         (change)="onFullDateChange($event)"
                         formControlName="fullDay">ganztägiger Termin</mat-slide-toggle>


       <mat-form-field [class.full]="fullDayToggle.checked"
                       [class.left]="!fullDayToggle.checked">
              <mat-label>Datum</mat-label>
              <input matInput
                     formControlName="date"
                     [matDatepicker]="datePicker">
              <mat-datepicker-toggle matIconSuffix
                                     [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
       </mat-form-field>

       <mat-form-field class="right"
                       [class.hidden]="fullDayToggle.checked">
              <mat-label>Start</mat-label>
              <input matInput
                     type="time"
                     formControlName="startTime">
       </mat-form-field>

       <mat-form-field class="right1"
                       [class.hidden]="fullDayToggle.checked">
              <mat-label>Ende</mat-label>
              <input matInput
                     type="time"
                     formControlName="endTime">
       </mat-form-field>


</form>