<app-toolbar>

    <button mat-icon-button
            matTooltip="Zum Home-Ordner wechseln"
            (click)="onGoHome()">
        <mat-icon class="material-symbols-outlined">home</mat-icon>
    </button>

    <button mat-icon-button
            matTooltip="Aktualisieren"
            (click)="onReload()">
        <mat-icon class="material-symbols-outlined">refresh</mat-icon>
    </button>

    <app-toolbar-separator></app-toolbar-separator>
    <button mat-icon-button
            [disabled]="!isWriteable"
            matTooltip="Neuen Ordner anlegen"
            (click)="onCreateFolder()">
        <mat-icon class="material-symbols-outlined">create_new_folder</mat-icon>
    </button>

    <!-- Selection/deselectopn -->
    <app-toolbar-separator></app-toolbar-separator>
    <button mat-icon-button
            matTooltip="Alles auswählen"
            [disabled]="!showSelectAll"
            (click)="onSelectAll()">
        <mat-icon class="material-symbols-outlined">check_box</mat-icon>
    </button>

    <button mat-icon-button
            matTooltip="Auswahl aufheben"
            [disabled]="!hasSelection"
            (click)="onDeselectAll()">
        <mat-icon class="material-symbols-outlined">check_box_outline_blank</mat-icon>
    </button>

    <!-- Clipbord OPs-->
    <app-toolbar-separator></app-toolbar-separator>
    <button mat-icon-button
            matTooltip="Ausschneiden"
            [disabled]="!hasSelection"
            (click)="onCut()">
        <mat-icon class="material-symbols-outlined">content_cut</mat-icon>
    </button>

    <button mat-icon-button
            matTooltip="Kopieren"
            [disabled]="!hasSelection"
            (click)="onCopy()">
        <mat-icon class="material-symbols-outlined">file_copy</mat-icon>
    </button>

    <button mat-icon-button
            matTooltip="Einfügen"
            [disabled]="!isPasteEnabled"
            (click)="onPaste()">
        <mat-icon class="material-symbols-outlined"
                  [matBadge]="nrOfPasteables"
                  matBadgePosition="after"
                  matBadgeColor="primary"
                  [matBadgeHidden]="!isPasteEnabled">content_paste</mat-icon>
    </button>

    <button mat-icon-button
            matTooltip="Clipboard löschen"
            [disabled]="!nrOfPasteables"
            (click)="onClearClipboard()">
        <mat-icon class="material-symbols-outlined">content_paste_off</mat-icon>
    </button>

    <!-- Cloud Ops -->
    <app-toolbar-separator></app-toolbar-separator>
    <button mat-icon-button
            [disabled]="!isWriteable"
            matTooltip="Dateien hoch laden"
            (click)="fileInput.click()">
        <mat-icon class="material-symbols-outlined">cloud_upload</mat-icon>
    </button>
    <input #fileInput
           type="file"
           class="hidden"
           multiple="true"
           (change)="onFileUpload($event)">

    <button mat-icon-button
            matTooltip="Dateien runter laden"
            [disabled]="!hasSelection"
            (click)="onCloudDownload()">
        <mat-icon class="material-symbols-outlined">cloud_download</mat-icon>
    </button>

    <button mat-icon-button
            matTooltip="Dateien löschen"
            [disabled]="!hasSelection"
            (click)="onDelete()">
        <mat-icon class="material-symbols-outlined">delete</mat-icon>
    </button>

</app-toolbar>