<form class="outer-cnr scrollable disp-flex flex-col"
      [formGroup]="eventForm">

    <div class="grid scrollable flex-1">
        <!-- Titel-Control -->
        <div class="grid-row-0">
            <mat-form-field class="grid-col-4">
                <mat-label>Titel</mat-label>
                <input matInput
                       appAutoFocus
                       formControlName="title">
            </mat-form-field>
        </div>

        <div class="grid-row-0">
            <div class="grid-col-4">

                <!-- Ganztägig? -->
                <mat-slide-toggle color="primary"
                                  formControlName="fullDay">Ganz-tägig</mat-slide-toggle>

                <!-- Das Wiederhol-Menu -->
                <button mat-button
                        [matMenuTriggerFor]="repeatMenu">
                    <mat-icon class="material-symbols-outlined">history</mat-icon>
                    <span>{{repeatModeName}}</span>
                </button>
                <mat-menu #repeatMenu>
                    <mat-radio-group formControlName="repeatMode">
                        <button mat-menu-item
                                *ngFor="let mode of repeatModes">
                            <mat-radio-button color="primary"
                                              [value]="mode.value">{{mode.title}}</mat-radio-button>
                        </button>
                    </mat-radio-group>
                </mat-menu>

            </div>
        </div>

        <!-- start und ende für nonFullDay -->
        <div class="grid-row-0"
             *ngIf="!isFullDay">

            <mat-form-field class="grid-col-2">
                <mat-label>Beginn</mat-label>
                <input matInput
                       [ngxMatDatetimePicker]="startDatePicker"
                       formControlName="start">
                <mat-hint>TT.MM.JJJJ HH:MM</mat-hint>
                <ngx-mat-datepicker-toggle matSuffix
                                           [for]="startDatePicker"></ngx-mat-datepicker-toggle>
                <ngx-mat-datetime-picker #startDatePicker>
                </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field class="grid-col-2">
                <mat-label>Ende</mat-label>
                <input matInput
                       [ngxMatDatetimePicker]="endDatePicker"
                       formControlName="end">
                <mat-hint>TT.MM.JJJJ HH:MM</mat-hint>
                <ngx-mat-datepicker-toggle matSuffix
                                           [for]="endDatePicker"></ngx-mat-datepicker-toggle>
                <ngx-mat-datetime-picker #endDatePicker>
                </ngx-mat-datetime-picker>
            </mat-form-field>
        </div>

        <!-- start und ende für FullDay -->
        <div class="grid-row-0"
             *ngIf="isFullDay">

            <mat-form-field class="grid-col-2">
                <mat-label>Begin und Ende</mat-label>
                <mat-date-range-input [rangePicker]="rangePicker">
                    <input matStartDate
                           formControlName="start"
                           placeholder="Start">
                    <input matEndDate
                           formControlName="end"
                           placeholder="Ende">
                </mat-date-range-input>
                <mat-hint>TT.MM.JJJJ – TT.MM.JJJJ</mat-hint>
                <mat-datepicker-toggle matIconSuffix
                                       [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker></mat-date-range-picker>
            </mat-form-field>
        </div>

        <!-- Beschreibung -->
        <div class="grid-row-1">
            <mat-form-field class="grid-col-4  full-height">
                <mat-label>Beschreibung</mat-label>
                <textarea matInput
                          class="full-height"
                          formControlName="desc"></textarea>
            </mat-form-field>
        </div>
    </div>
</form>