<form [formGroup]="eventForm"
      class="grid-container">

    <!-- Titel -->
    <mat-form-field class="full">
        <mat-label>Titel</mat-label>
        <input matInput
               appAutoFocus
               formControlName="title">
        <mat-error *ngIf="eventForm.get('title')!.hasError('required')">Bitte ausfüllen</mat-error>
    </mat-form-field>

    <!-- Ganz-tägiger Termin -->
    <mat-slide-toggle #fullDayToggle
                      class="full"
                      color="primary"
                      formControlName="fullDay">Ganz-tägig</mat-slide-toggle>


    <!-- start wenn kein ganztägiger Termin-->
    <mat-form-field class="left"
                    *ngIf="!fullDayToggle.checked">
        <mat-label>Start</mat-label>
        <input matInput
               [appDateTimePicker]="startDatePicker"
               formControlName="start">
        <app-date-time-picker-toggle matSuffix
                                     [for]="startDatePicker"></app-date-time-picker-toggle>
        <app-date-time-picker #startDatePicker></app-date-time-picker>
        <mat-error *ngIf="eventForm.get('start')!.hasError('required')">Bitte ausfüllen</mat-error>
    </mat-form-field>

    <!-- ende wenn kein ganztägiger Termin-->
    <mat-form-field class="right"
                    *ngIf="!fullDayToggle.checked">
        <mat-label>Ende</mat-label>
        <input matInput
               [appDateTimePicker]="endDatePicker"
               formControlName="end">
        <app-date-time-picker-toggle matSuffix
                                     [for]="endDatePicker"></app-date-time-picker-toggle>
        <app-date-time-picker #endDatePicker></app-date-time-picker>
        <mat-error *ngIf="eventForm.get('end')!.hasError('required')">Bitte ausfüllen</mat-error>
    </mat-form-field>

    <!-- start-ende range für ganztägige Termine -->
    <mat-form-field class="full"
                    *ngIf="fullDayToggle.checked">
        <mat-label>Begin und Ende</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate
                   formControlName="start"
                   placeholder="Start">
            <input matEndDate
                   formControlName="end"
                   placeholder="Ende">
        </mat-date-range-input>
        <mat-error *ngIf="eventForm.get('start')!.hasError('required')">Bitte ausfüllen</mat-error>
        <mat-error *ngIf="eventForm.get('end')!.hasError('required')">Bitte ausfüllen</mat-error>
        <mat-datepicker-toggle matIconSuffix
                               [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker></mat-date-range-picker>
    </mat-form-field>

    <!-- wiederhol-frequenz -->
    <mat-form-field class="left">
        <mat-label>Wiederholen</mat-label>
        <mat-select #repFreq
                    formControlName="repeat_freq">
            <mat-option *ngFor="let freq of repeatFrequences"
                        [value]="freq.value">{{freq.title}}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Wochentags-Auswahl -->
    <mat-form-field class="right"
                    *ngIf="repFreq.value === 'WEEKLY'">
        <mat-label>Jeweils am</mat-label>
        <mat-select #weekDays
                    [multiple]="true">
            <mat-option *ngFor="let day of daysOfWeek"
                        [value]="day.value">{{day.title}}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Tag des Monats-Auswahl -->
    <mat-form-field class="right"
                    *ngIf="repFreq.value === 'MONTHLY'">
        <mat-label>Jeweils am</mat-label>
        <mat-select #monthDays
                    [multiple]="true">
            <mat-option *ngFor="let day of daysOfMonth"
                        [value]="day">{{day}}.</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Anzahl von wiederholungen -->
    <mat-form-field class="left"
                    [class.hidden]="repFreq.value === 'ONCE'">
        <mat-label>Wiederholungen</mat-label>
        <mat-select #repCount>
            <mat-option value="REPEAT_INFINITE">Kein End-Datum</mat-option>
            <mat-option value="REPEAT_UNTIL">Endet am</mat-option>
            <mat-option value="REPEAT_N_TIMES">Endet nach x Terminen</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- wiederholungs-ende -->
    <mat-form-field class="right"
                    [class.hidden]="repCount.value !== 'REPEAT_UNTIL'">
        <mat-label>Letzter Termin</mat-label>
        <input matInput
               [matDatepicker]="repEndPicker">
        <mat-datepicker-toggle matIconSuffix
                               [for]="repEndPicker"></mat-datepicker-toggle>
        <mat-datepicker #repEndPicker></mat-datepicker> </mat-form-field>

    <!-- Anzahl von wiederholungen -->
    <mat-form-field class="right"
                    [class.hidden]="repCount.value !== 'REPEAT_N_TIMES'">
        <mat-label>Anzahl Termine</mat-label>
        <input matInput
               type="number">
    </mat-form-field>
</form>