<div class="outer-cnr">

    <div class="quill-toolbar"
         id="quillToolbar">

        <span class="ql-formats">
            <select class="ql-header">
                <option value="0">Absatz</option>
                <option value="1">Überschrift 1</option>
                <option value="2">Überschrift 2</option>
                <option value="3">Überschrift 3</option>
            </select>
        </span>

        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>

        <span class="ql-formats">
            <select class="ql-align"></select>
        </span>

        <span class="ql-formats">
            <button class="ql-list"
                    value="ordered"></button>
            <button class="ql-list"
                    value="bullet"></button>
        </span>

        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
    </div>

    <div class="quill-host"
         id="quillHost">
    </div>
</div>