<form class="full-height disp-flex flex-col"
      [formGroup]="pinboardForm"
      (ngSubmit)="onSubmit()">

    <mat-form-field class="fill-width flex-0">
        <mat-label>Name der neuen Pin-Wand</mat-label>
        <input matInput
               formControlName="name"
               appAutoFocus>
        <mat-error *ngIf="pinboardForm.get('name')!.hasError('required')">Bitte ausfüllen</mat-error>
    </mat-form-field>

    <div class="flex-1 scrollable">
        <mat-selection-list>
            <mat-list-option *ngFor="let user of users">
                <img matListItemAvatar
                     [src]="getAvatarUrl(user)">
                {{user.surname}} {{user.lastname}}
            </mat-list-option>
        </mat-selection-list>
    </div>

    <div class="flex-0">
        <button mat-flat-button
                class="small-right-spacer"
                type="submit"
                color="primary">Speichern</button>

        <button mat-flat-button
                type="button"
                color="primary">Zurück setzen</button>
    </div>

</form>