<div class="disp-flex flex-col full-height scrollable">

    <mat-toolbar color="primary">

        <mat-toolbar-row>
            <mat-icon class="material-symbols-outlined flex-0 small-right-spacer"
                      *ngIf="isLoggedOn"
                      matRipple
                      (click)="navMenu.toggle()">menu</mat-icon>

            <span class="flex-1">{{title}}</span>
            <app-session-menu></app-session-menu>

        </mat-toolbar-row>

        <mat-toolbar-row *ngIf="isLoggedOn">
            <app-search-bar placeholder="Suchen..."
                            class="flex-1"
                            (found)="onSearchResult($event)"></app-search-bar>
        </mat-toolbar-row>

    </mat-toolbar>

    <div class="scrollable full-height">
        <mat-drawer-container class="full-height">
            <mat-drawer #navMenu
                        mode="push"
                        (click)="navMenu.close()">

                <!-- Home -->
                <button mat-menu-item
                        routerLink="/">
                    <mat-icon class="material-symbols-outlined">home</mat-icon>
                    <span>Home</span>
                </button>

                <!-- Dateien -->
                <button mat-menu-item
                        routerLink="/files"
                        matTooltip="Dateien">
                    <mat-icon class="material-symbols-outlined">folder</mat-icon>
                    <span>Dateien</span>
                </button>

                <!-- PinBoard -->
                <button mat-menu-item
                        routerLink="/pinboard"
                        matTooltip="Pin-Wand">
                    <mat-icon class="material-symbols-outlined">pinboard</mat-icon>
                    <span>Pin-Wand</span>
                </button>

                <!-- Kalender -->
                <button mat-menu-item
                        routerLink="/calendar"
                        matTooltip="Kalender">
                    <mat-icon class="material-symbols-outlined">calendar_month</mat-icon>
                    <span>Kalender</span>
                </button>

                <!-- Mail -->
                <button mat-menu-item
                        routerLink="/mail"
                        matTooltip="Mail">
                    <mat-icon class="material-symbols-outlined">mail</mat-icon>
                    <span>Mail</span>
                </button>

                <!-- Message -->
                <button mat-menu-item
                        routerLink="/message"
                        matTooltip="Chat">
                    <mat-icon class="material-symbols-outlined">message</mat-icon>
                    <span>Chat</span>
                </button>

                <!-- User -->
                <button mat-menu-item
                        routerLink="/user"
                        matTooltip="Benutzer-Verwaltung">
                    <mat-icon class="material-symbols-outlined">person</mat-icon>
                    <span>Benutzer-Verwaltung</span>
                </button>
            </mat-drawer>

            <div class="full-height scrollable">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-container>
    </div>

</div>

<app-spinner></app-spinner>