.outer-cnr {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(30, 87, 153) 0%, rgb(125, 185, 232) 100%);
}

.toolbar {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
    color: white;
}

.toolbar-btn {
    flex: 0 0 auto;
}

.toolbar-title {
    flex: 1;
    font-size: 22px;
    text-align: center;
}

app-session-menu {
    flex: 0;
}

@media (width < 600px) {

    .toolbar-title {
        order: 10;
        flex-basis: 100%;
        text-align: left;
    }

    .filler {
        flex: 1;
    }
}


.drawer {
    flex: 1;
    height: 100%;
    margin: 0 1rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
}

.content-cnr {
    height: 100%;
    background-color: transparent;
}