<div class="disp-flex flex-col full-height scrollable">

    <mat-toolbar color="primary">

        <mat-toolbar-row>

            <!-- MainMenu-->
            <mat-icon class="material-symbols-outlined flex-0"
                      *ngIf="isLoggedOn"
                      matRipple
                      (click)="navMenu.toggle()">menu</mat-icon>

            <!-- Titel -->
            <span class="flex-1 small-left-right-spacer">{{title}}</span>

            <!-- Suche -->
            <button mat-icon-button
                    routerLink="/search"
                    class="flex-0"
                    *ngIf="isShowSearch">
                <mat-icon class="material-symbols-outlined">search</mat-icon>
            </button>

            <!-- SessionMenu -->
            <app-session-menu class="flex-0 small-right-spacer"></app-session-menu>

        </mat-toolbar-row>

    </mat-toolbar>

    <div class="scrollable full-height">
        <mat-drawer-container class="full-height">
            <mat-drawer #navMenu
                        mode="over"
                        (click)="navMenu.close()">

                <!-- Home -->
                <button mat-menu-item
                        routerLink="/">
                    <mat-icon class="material-symbols-outlined">home</mat-icon>
                    <span>Home</span>
                </button>

                <!-- Dateien -->
                <button mat-menu-item
                        routerLink="/files/main"
                        matTooltip="Dateien">
                    <mat-icon class="material-symbols-outlined">folder</mat-icon>
                    <span>Dateien</span>
                </button>

                <!-- Kalender -->
                <button mat-menu-item
                        routerLink="/calendar/show"
                        matTooltip="Kalender">
                    <mat-icon class="material-symbols-outlined">calendar_month</mat-icon>
                    <span>Kalender</span>
                </button>

                <!-- Mail -->
                <button mat-menu-item
                        routerLink="/mail"
                        matTooltip="Mail"
                        disabled="true">
                    <mat-icon class="material-symbols-outlined">mail</mat-icon>
                    <span>Mail</span>
                </button>

                <!-- Chat -->
                <button mat-menu-item
                        routerLink="/message"
                        matTooltip="Chat"
                        disabled="true">
                    <mat-icon class="material-symbols-outlined">message</mat-icon>
                    <span>Chat</span>
                </button>

                <!-- PinBoard -->
                <button mat-menu-item
                        routerLink="/pinboard"
                        matTooltip="Pin-Wand"
                        disabled="true">
                    <mat-icon class="material-symbols-outlined">pinboard</mat-icon>
                    <span>Pin-Wand</span>
                </button>

                <!-- User -->
                <button mat-menu-item
                        routerLink="/user"
                        matTooltip="Benutzer-Verwaltung">
                    <mat-icon class="material-symbols-outlined">person</mat-icon>
                    <span>Benutzer-Verwaltung</span>
                </button>
            </mat-drawer>

            <div class="full-height scrollable">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-container>
    </div>

</div>

<app-spinner></app-spinner>