<div class="disp-flex flex-col full-height scrollable">

    <mat-toolbar color="primary">

        <!-- titel -->
        <mat-toolbar-row>
            <span class="flex-1">{{title}}</span>
            <app-session-menu></app-session-menu>
            <!-- <button (click)="onTest()">create keystore</button>
            <button (click)="storeLoader.click()">open keystore</button>
            <input #storeLoader type="file" class="hidden" (change)="onTest1($event)"> -->
        </mat-toolbar-row>

        <mat-toolbar-row class="disp-flex flex-row flex-alignitems-center">

            <!-- Home -->
            <button mat-icon-button class="flex-0" routerLink="/">
                <mat-icon class="material-symbols-outlined">home</mat-icon>
            </button>

            <!-- Dateien -->
            <button mat-icon-button class="flex-0" routerLink="/files">
                <mat-icon class="material-symbols-outlined">folder</mat-icon>
            </button>

            <!-- User -->
            <button mat-icon-button class="flex-0" routerLink="/user">
                <mat-icon class="material-symbols-outlined">person</mat-icon>
            </button>

            <app-search-bar class="flex-1" placeholder="Suchen..." (found)="onSearchResult($event)"></app-search-bar>
            
        </mat-toolbar-row>

    </mat-toolbar>

    <div class="flex-1 scrollable">
        <router-outlet></router-outlet>
    </div>

</div>

<app-spinner ></app-spinner>