<form>

  <h2 mat-dialog-title>{{data.title}}</h2>


  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <mat-label>{{data.placeholder}}</mat-label>
      <input appAutoFocus matInput name="value" [(ngModel)]="data.value">
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-flat-button type="submit" color="primary" [mat-dialog-close]="data.value" appAutoFocus>Ok</button>
    <button mat-flat-button [mat-dialog-close]="false">Abbrechen</button>
  </div>

</form>