<div class="outer-container mat-app-background">
    <div class="toolbar">
        <div class="date-selection">

            <button class="date-sel-btn"
                    (click)="onGoBack()"
                    mat-icon-button>
                <mat-icon class="material-symbols-outlined">chevron_left</mat-icon>
            </button>

            <button class="date-sel-btn"
                    (click)="onGoToday()"
                    mat-button>
                <mat-icon class="material-symbols-outlined">today</mat-icon>
                <span>Heute</span>
            </button>

            <button class="date-sel-btn"
                    (click)="onGoFore()"
                    mat-icon-button>
                <mat-icon class="material-symbols-outlined"
                          iconPositionEnd>chevron_right</mat-icon>
            </button>

        </div>

        <button mat-icon-button
                (click)="onReload()"
                matTooltip="Aktualisieren">
            <mat-icon class="material-symbols-outlined">refresh</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Import-Optionen"
                [matMenuTriggerFor]="importMenu">
            <mat-icon class="material-symbols-outlined">publish</mat-icon>
        </button>

        <mat-menu #importMenu="matMenu">
            <button mat-menu-item>
                <mat-icon class="material-symbols-outlined">upload_file</mat-icon>
                <span>iCAL importieren</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-symbols-outlined">calendar_month</mat-icon>
                <span>Kalender importieren</span>
            </button>
        </mat-menu>

        <span class="title"
              *ngIf="viewMode === 'timeGridDay'">{{date | date:"dd.MM.YYYY"}}</span>
        <span class="title"
              *ngIf="viewMode === 'timeGridWeek'">{{date | date:"'Kalenderwoche' ww/YYYY"}}</span>
        <span class="title"
              *ngIf="viewMode === 'dayGridMonth'">{{date | date:"MMM YYYY"}}</span>
        <span class="title"
              *ngIf="viewMode === 'listYear'">{{date | date:"YYYY"}}</span>

        <mat-button-toggle-group class="view-mode"
                                 [value]="viewMode"
                                 (change)="onViewModeChange($event)">
            <mat-button-toggle value="timeGridDay" matTooltip="Tages-Ansicht">
                <mat-icon class="material-symbols-outlined">calendar_view_day</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="timeGridWeek" matTooltip="Wochen-Ansicht">
                <mat-icon class="material-symbols-outlined">calendar_view_week</mat-icon>
            </mat-button-toggle>
            
            <mat-button-toggle value="dayGridMonth" matTooltip="Monats-Ansicht">
                <mat-icon class="material-symbols-outlined">calendar_view_month</mat-icon>
            </mat-button-toggle>
            
            <mat-button-toggle value="listYear" matTooltip="Listen-Ansicht">
                <mat-icon class="material-symbols-outlined">list</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>

    </div>

    <div class="content">
        <full-calendar #calendar
                       [options]="calendarOptions"></full-calendar>
    </div>

    <app-calendar-event-menu #eventMenu
                             (deleteOccurence)="onDeleteOccurence($event)"
                             (deleteEvent)="onDeleteEvent($event)"
                             (exportEvent)="onExportEvent($event)"></app-calendar-event-menu>
</div>