<div class="outer-container mat-app-background">
    <div class="toolbar">
        <div class="date-selection">

            <button class="date-sel-btn"
                    (click)="onGoBack()"
                    mat-icon-button>
                <mat-icon class="material-symbols-outlined">chevron_left</mat-icon>
            </button>

            <button class="date-sel-btn"
                    (click)="onGoToday()"
                    mat-button>
                <mat-icon class="material-symbols-outlined">today</mat-icon>
                <span>Heute</span>
            </button>

            <button class="date-sel-btn"
                    (click)="onGoFore()"
                    mat-icon-button>
                <mat-icon class="material-symbols-outlined"
                          iconPositionEnd>chevron_right</mat-icon>
            </button>

        </div>

        <button mat-icon-button  (click)="onReload()">
            <mat-icon class="material-symbols-outlined">refresh</mat-icon>
        </button>

        <span class="title" *ngIf="viewMode === 'DAY'">{{date | date:"dd.MM.YYYY"}}</span>
        <span class="title" *ngIf="viewMode === 'WEEK'">{{date | date:"'Kalenderwoche' ww YYYY"}}</span>
        <span class="title" *ngIf="viewMode === 'MONTH'">{{date | date:"MMM YYYY"}}</span>

        <mat-button-toggle-group class="view-mode"
                                 [value]="viewMode"
                                 (change)="onViewModeChange($event)">
            <mat-button-toggle value="timeGridDay">Tag</mat-button-toggle>
            <mat-button-toggle value="timeGridWeek">Woche</mat-button-toggle>
            <mat-button-toggle value="dayGridMonth">Monat</mat-button-toggle>
        </mat-button-toggle-group>

    </div>

    <div class="content">
        <full-calendar #calendar
                       [options]="calendarOptions"></full-calendar>
    </div>

    <app-calendar-event-menu #eventMenu></app-calendar-event-menu>
</div>