@import '../../../../assets/styles/spacers.css';

.stacktrace {
    font-size: small;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}

.label {
    grid-column-start: 1;
    font-weight: 500;
}

.value {
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    white-space: nowrap;
}