<span class="menu-trigger"
      [matMenuTriggerFor]="contextMenu"
      [style.left]="triggerPosX"
      [style.top]="triggerPosY">
</span>

<mat-menu #contextMenu="matMenu">

    <!-- Das SubMenu mit den Create-Optionen -->
    <button mat-menu-item
            [disabled]="!isWriteAllowed"
            [matMenuTriggerFor]="createMenu">
        <mat-icon class="material-symbols-outlined">add</mat-icon>
        Neu
    </button>

    <!-- Den Ordner als ZIP herunter laden -->
    <mat-divider></mat-divider>
    <button mat-menu-item
            [disabled]="!isReadAllowed"
            (click)="onDownload()">
        <mat-icon class="material-symbols-outlined">cloud_download</mat-icon>Als ZIP herunter laden
    </button>

    <!-- Paste -->
    <div *ngIf="isShowPasteEntry">
        <mat-divider></mat-divider>
        <button mat-menu-item
                (click)="onPaste()">
            <mat-icon class="material-symbols-outlined">content_paste</mat-icon>
            {{nrPasteElements}} Elemente einfügen
        </button>

    </div>

    <!-- Den Eingenschafften-Dialog anzeigen -->
    <mat-divider></mat-divider>
    <button mat-menu-item
            [disabled]="!isReadAllowed"
            (click)="onShowProperties()">
        <mat-icon class="material-symbols-outlined">settings</mat-icon>Eigenschafften
    </button>
</mat-menu>

<mat-menu #createMenu>
    <app-files-create-menu *ngFor="let group of createGroups"
                           [group]="group"
                           (click)="onCreateDocument($event)"></app-files-create-menu>
</mat-menu>

<mat-menu menu0></mat-menu>