.outer-cnr {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    /* gap: 0.5rem; */
}

.owner-selector {
    flex: 0;
}

.actions-row {
    flex: 0;
}

.acl-entry-list {
    flex: 1;
    overflow: auto;
}

.acl-entry {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    align-items: top;
}

.acl-entry-label {
    grid-column: span 3 / span 3;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.acl-entry-permission {
    text-align: center;
    align-self: center;
}

.header {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;

}
