<div class="outer-cnr mat-app-background">
    <app-toolbar class="toolbar">

        <!-- Save -->
        <button mat-icon-button
                matTooltip="Speichern"
                (click)="onSave()">
            <mat-icon class="material-symbols-outlined">save</mat-icon>
        </button>

        <!-- Undo -->
        <button mat-icon-button
                matTooltip="Undo">
            <mat-icon class="material-symbols-outlined">undo</mat-icon>
        </button>

        <!-- Redo -->
        <button mat-icon-button
                matTooltip="Redo">
            <mat-icon class="material-symbols-outlined">redo</mat-icon>
        </button>

        <!-- All about shapes -->
        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                matTooltip="Formen"
                cdkOverlayOrigin
                #shapesMenuTrigger="cdkOverlayOrigin"
                (click)="showShapesMenu=true">
            <mat-icon class="material-symbols-outlined">shapes</mat-icon>
        </button>

        <ng-template cdkConnectedOverlay
                     [cdkConnectedOverlayOrigin]="shapesMenuTrigger"
                     [cdkConnectedOverlayOpen]="showShapesMenu"
                     [cdkConnectedOverlayHasBackdrop]="true"
                     cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
                     cdkConnectedOverlayPanelClass="menu-overlay-pane"
                     (backdropClick)="showShapesMenu=false">

            <div class="multi-column-menu mat-elevation-z4"
                 (click)="showShapesMenu=false">

                <div class="multi-column-menu-title">Formen</div>
                <button mat-icon-button
                        (click)="onCreateShape('rect')"
                        matTooltip="Rechteck">
                    <mat-icon class="material-symbols-outlined">rectangle</mat-icon>
                </button>

                <button mat-icon-button
                        (click)="onCreateShape('rombus')"
                        matTooltip="Rombus">
                    <mat-icon class="material-symbols-outlined">stat_0</mat-icon>
                </button>

                <button mat-icon-button
                        (click)="onCreateShape('ellipse')"
                        matTooltip="Kreis/Elipse">
                    <mat-icon class="material-symbols-outlined">circle</mat-icon>
                </button>


                <div class="multi-column-menu-title">Linien</div>
                <button mat-icon-button
                        (click)="onCreateLine('direct')">
                    <mat-icon class="material-symbols-outlined">remove</mat-icon>
                </button>

                <button mat-icon-button>
                    <mat-icon class="material-symbols-outlined">line_curve</mat-icon>
                </button>

                <button mat-icon-button>
                    <mat-icon class="material-symbols-outlined">timelinecircle</mat-icon>
                </button>

                <div class="multi-column-menu-title">Text-Bereiche</div>
                <button mat-icon-button
                        matTooltip="Text-Feld">
                    <mat-icon class="material-symbols-outlined">text_ad</mat-icon>
                </button>

                <button mat-icon-button
                        matTooltip="Kommentar">
                    <mat-icon class="material-symbols-outlined">comment</mat-icon>
                </button>

            </div>
        </ng-template>


        <!-- -->
        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                (click)="selectAll()"
                matTooltip="Alles auswählen">
            <mat-icon class="material-symbols-outlined">check_box</mat-icon>
        </button>

        <button mat-icon-button
                (click)="deselectAll()"
                [disabled]="!hasSelection"
                matTooltip="Auswahl aufheben">
            <mat-icon class="material-symbols-outlined">check_box_outline_blank</mat-icon>
        </button>


        <!-- export -->
        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                matTooltip="Als Grafik herunter laden"
                (click)="onExport()">
            <mat-icon class="material-symbols-outlined">download</mat-icon>
        </button>



        <!-- löschen -->
        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                [disabled]="!hasSelection"
                (click)="onDeleteSelectedShapes()">
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
        </button>

        <app-toolbar-filler></app-toolbar-filler>
        <mat-button-toggle (change)="showGridLines = $event.source.checked">
            <mat-icon class="material-symbols-outlined">border_clear</mat-icon>
        </mat-button-toggle>
    </app-toolbar>

    <div class="workspace">

        <div class="svg-scroller"
             #svgScroller>

            <svg #svg
                 xmlns="http://www.w3.org/2000/svg"
                 [style.width]="imgWidth"
                 [style.height]="imgHeight"
                 (mousedown)="onMouseDown($event)"
                 (mousemove)="onMouseMove($event)"
                 (mouseup)="onMouseUp($event)"
                 (mouseleave)="onMouseLeave($event)">

                <style>
                    .hidden {
                        display: none;
                    }

                    rect,
                    polygone,
                    ellipse,
                    foreignObject {
                        cursor: move;
                    }


                    rect,
                    polygone,
                    ellipse,
                    foreignObject {
                        cursor: move;
                    }

                    .decorator-frame {
                        stroke: lightgray;
                        stroke-width: 2;
                        stroke-dasharray: 2 2;
                        fill: transparent;
                    }

                    .resize,
                    .connector {
                        stroke-width: 2;
                        stroke: cornflowerblue;
                        fill: lightblue;
                    }

                    .connector {
                        cursor: crosshair;
                    }

                    .drag-ne {
                        cursor: ne-resize;
                    }

                    .drag-n {
                        cursor: n-resize;
                    }

                    .drag-nw {
                        cursor: nw-resize;
                    }

                    .drag-w {
                        cursor: w-resize;
                    }

                    .drag-e {
                        cursor: e-resize;
                    }

                    .drag-se {
                        cursor: se-resize;
                    }

                    .drag-s {
                        cursor: s-resize;
                    }

                    .drag-sw {
                        cursor: sw-resize;
                    }

                    .drag-start {
                        cursor: move;

                    }

                    .drag-end {
                        cursor: move;

                    }

                    .selector-frame {
                        fill: rgba(0, 0, 255, 0.3);
                        stroke: lightblue;

                    }

                    .selector-frame-glasspane {
                        fill: transparent;
                        stroke: none;

                    }
                </style>

                <defs>

                    <!-- Das Pattern für die GridLines -->
                    <pattern id="pattern-gridLines"
                             patternUnits="userSpaceOnUse"
                             width="30"
                             height="30">

                        <polyline points="0,30 30,30 30,0"
                                  fill="none"
                                  stroke="lightblue"
                                  stroke-width="1"
                                  stroke-dasharray="2 2" />
                    </pattern>
                </defs>

                <!-- das Rect für die GridLines -->
                <rect id="gridLines"
                      width="100%"
                      height="100%"
                      class="hidden"
                      fill="url(#pattern-gridLines)" />
            </svg>

            <app-whiteboard-shape-context-menu (delete)="onDeleteSelectedShapes()"
                                               (zOrderChanged)="onChangeZOrder($event)">
            </app-whiteboard-shape-context-menu>
        </div>


        <div class="sidebar"
             *ngIf="hasSelection">
            <app-whiteboard-siderbar [shapes]="selectedShapes"
                                     [model]="model"></app-whiteboard-siderbar>
        </div>

    </div>

    <app-toolbar class="footer">
        <span>Bild-Größe: {{model.width}} x {{model.height}}</span>
        <app-toolbar-separator></app-toolbar-separator>
        <span>Objekte: {{model.nrOfShapes}}</span>
        <span *ngIf="model.nrOfSelectedShapes !== 0">, Ausgewählt: {{model.nrOfSelectedShapes}}</span>
        <app-toolbar-separator></app-toolbar-separator>
    </app-toolbar>
</div>