<div class="outer-cnr mat-app-background">
    <app-toolbar class="toolbar">

        <!-- All about forms -->
        <button mat-icon-button
                [matMenuTriggerFor]="shapesMenu"
                matTooltip="Eine neue Form hinzu fügen">
            <mat-icon class="material-symbols-outlined">shapes</mat-icon>
        </button>

        <!-- Text-Menu-->
        <button mat-icon-button
                [matMenuTriggerFor]="textMenu"
                matTooltip="Eine Text-Komponente hinzu fügen">
            <mat-icon class="material-symbols-outlined">text_fields</mat-icon>
        </button>


        <!-- all about connectors -->
        <button mat-icon-button
                [matMenuTriggerFor]="connectorsMenu"
                matTooltip="Eine Verbindung hinzu fügen">
            <mat-icon class="material-symbols-outlined">line_end_square</mat-icon>
        </button>


        <mat-menu #shapesMenu="matMenu">
            <button mat-menu-item
                    (click)="onCreateShape('rect')">
                <mat-icon class="material-symbols-outlined">rectangle</mat-icon>
                Box
            </button>

            <button mat-menu-item
                    (click)="onCreateShape('rombus')">
                <mat-icon class="material-symbols-outlined">stat_0</mat-icon>
                Rombus
            </button>

            <button mat-menu-item
                    (click)="onCreateShape('ellipse')">
                <mat-icon class="material-symbols-outlined">circle</mat-icon>
                Kreis/Elipse
            </button>


        </mat-menu>

        <mat-menu #textMenu>

            <button mat-menu-item>
                <mat-icon class="material-symbols-outlined">text_ad</mat-icon>
                Text-Feld
            </button>

            <button mat-menu-item>
                <mat-icon class="material-symbols-outlined">comment</mat-icon>
                Kommentar
            </button>

        </mat-menu>

        <mat-menu #connectorsMenu="matMenu">
            <button mat-menu-item>
                <mat-icon class="material-symbols-outlined">horizontal_rule</mat-icon>
                Linie
            </button>

            <button mat-menu-item>
                <mat-icon class="material-symbols-outlined">line_end_arrow</mat-icon>
                Linie Pfeil-Ende
            </button>

            <button mat-menu-item>
                <mat-icon class="material-symbols-outlined">line_end_circle</mat-icon>
                Linie Kreis-Ende
            </button>

            <button mat-menu-item>
                <mat-icon class="material-symbols-outlined">line_end_square</mat-icon>
                Linie quadratisches Ende
            </button>
        </mat-menu>

    </app-toolbar>

    <div class="workspace">

        <svg #svg
             xmlns="http://www.w3.org/2000/svg"
             (mousedown)="onMouseDown($event)"
             (mousemove)="onMouseMove($event)"
             (mouseup)="onMouseUp($event)"
             (mouseleave)="onMouseLeave($event)"
             (contextmenu)="onShowContextMenu($event)">

            <style>
                rect,
                ellipse,
                polygon {
                    cursor: move;
                    outline: none;
                }

                .decorator-frame {
                    stroke: lightgray;
                    stroke-width: 2;
                    stroke-dasharray: 2 2;
                    fill: transparent;
                }

                .resize,
                .connector {
                    stroke-width: 1;
                    stroke: lightblue;
                    fill: cornflowerblue;
                }

                .north {
                    x: calc(50% - 4)
                }

                .drag-ne {
                    cursor: ne-resize;
                }

                .drag-n {
                    cursor: n-resize;
                }

                .drag-nw {
                    cursor: nw-resize;
                }

                .drag-w {
                    cursor: w-resize;
                }

                .drag-e {
                    cursor: e-resize;
                }

                .drag-se {
                    cursor: se-resize;
                }

                .drag-s {
                    cursor: s-resize;
                }

                .drag-sw {
                    cursor: sw-resize;
                }

                .selector-frame {
                    fill: rgba(0, 0, 255, 0.3);
                    stroke: lightblue';
                }
            </style>
        </svg>

        <app-whiteboard-shape-context-menu #ctxMenu
                                           (fillColorChanged)="onChangeFillColor($event)"
                                           (borderColorChanged)="onChangeBorderColor($event)"
                                           (borderSizeChanged)="onChangeBorderWidth($event)"
                                           (borderStyleChanged)="onChangeBorderStyle($event)"
                                           (zOrderChanged)="onChangeZOrder($event)">
        </app-whiteboard-shape-context-menu>

    </div>
</div>