.outer-cnr {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;
    gap: 0.5rem;
}

app-toolbar {
    flex: 0;
    border-bottom: 1px solid #d0d0d0;
}

.workspace {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;
}

.buttons {
    flex: 0;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}