.outer {
    position: relative;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.locked {
    filter: opacity(50%);
}

.selector {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    padding: 2px;
    border-radius: 2px;
    display: none;
    background-color: lightgray;
    color: white;
}


.link {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 28px;
}

.outer:hover>.selector {
    display: block;
}