.outer {
    background-color: white;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border: 1px solid #d0d0d0;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.locked {
    filter: opacity(50%);
}
