<div class="disp-flex flex-row flex-alignitems-center outer mat-elevation-z2"
     [class.locked]="isLocked"
     matTooltip="{{inode.name}}"
     (contextmenu)="onContextMenu($event, contextMenu)">

     <mat-checkbox color="primary"
                   class="small-right-spacer"
                   (change)="onSelectorChange($event)"
                   [checked]="selected"
                   [disabled]="isLocked">
     </mat-checkbox>

     <img class="flex-0 small-right-spacer"
          [src]="iconUrl"
          [style.width]="iconWidth"
          (click)="onOpen()">

     <div class="flex-1 disp-flex flex-col"
          (click)="onOpen()">
          <span class="flex-0 name">{{inode.name}}</span>
          <span class="flex-0">{{inode.size | fileSize}}</span>
     </div>

     <app-files-item-context-menu #contextMenu
                                  [inode]="inode"
                                  (open)="onOpen()"
                                  (create)="onCreate($event)"
                                  (rename)="onRename()"
                                  (delete)="onDelete()"
                                  (cut)="onCut()"
                                  (copy)="onCopy()"
                                  (paste)="onPaste()"
                                  (showProps)="onShowProps()">
     </app-files-item-context-menu>

</div>