<div class="disp-flex flex-row flex-alignitems-center outer"
     [class.locked]="isLocked"
     matTooltip="{{inode.name}}">

     <img class="flex-0 small-right-spacer"
          [src]="iconUrl"
          [style.width]="iconWidth">

     <div class="flex-1 disp-flex flex-col">
          <span class="flex-0 name">{{inode.name}}</span>
          <span class="flex-0">{{inode.size | fileSize}}</span>
     </div>

     <div class="selector" (click)="onSelect($event, inode)">
          <mat-icon>add</mat-icon>
     </div>

</div>