<h1 mat-dialog-title>Termin bearbeiten</h1>
<mat-dialog-content>


    <mat-tab-group>

        <!-- Core daten -->
        <mat-tab label="Termin">
            <app-calendar-event-main-editor [event]="event"></app-calendar-event-main-editor>
        </mat-tab>
        
        <!-- Wiederholungen -->
        <mat-tab label="Wiederholung">
            <app-calendar-recurring-editor></app-calendar-recurring-editor>
        </mat-tab>

        <!-- Personen -->
        <mat-tab label="Personen">
            <div>Bruno, Paul, Anne</div>
        </mat-tab>

        <!-- Ort -->
        <mat-tab label="Ort">
            <div>Somewhere over the Rainbow</div>
        </mat-tab>

        <!-- Hashtags -->
        <mat-tab label="Tags">
            <app-hashtag-selector [(hashTags)]="hashTags"></app-hashtag-selector>
        </mat-tab>

    </mat-tab-group>
</mat-dialog-content>

<!-- die ButtonArea -->
<mat-dialog-actions>
    <button mat-flat-button
            color="primary"
            (click)="onSave()">Speichern</button>
    <button mat-button
            color="primary"
            [mat-dialog-close]="false">Abbrechen</button>
</mat-dialog-actions>