<h1 mat-dialog-title>Termin bearbeiten</h1>
<mat-dialog-content>

        <app-calendar-event-main-editor [event]="event"></app-calendar-event-main-editor>

    <mat-accordion multi="true">

        <!-- Ausführliche Beschreibung -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Beschreibung</mat-panel-title>
            </mat-expansion-panel-header>
            <app-calendar-event-desc-editor></app-calendar-event-desc-editor>
        </mat-expansion-panel>

        <!-- Personen -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Personen</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Bruno, Paul, Anne</div>
        </mat-expansion-panel>

        <!-- Ort -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Ort</mat-panel-title>
            </mat-expansion-panel-header>
            <div>Somewhere over the Rainbow</div>
        </mat-expansion-panel>

        <!-- Hashtags -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Tags</mat-panel-title>
            </mat-expansion-panel-header>
            <app-hashtag-selector [(hashTags)]="hashTags"></app-hashtag-selector>
        </mat-expansion-panel>

    </mat-accordion>
</mat-dialog-content>

<!-- die ButtonArea -->
<mat-dialog-actions>
    <button mat-flat-button
            color="primary"
            (click)="onSave()">Speichern</button>
    <button mat-button
            color="primary"
            [mat-dialog-close]="false">Abbrechen</button>
</mat-dialog-actions>