.outer-cnr {
    overflow: auto;
    border-right: 1px solid #d0d0d0;
    height: 100%;
    background-color: white;
}

.item-cnr {
    height: 100%;
    overflow: auto;
    padding: 0.5rem;
}

.item {
    display: flex;
    flex: row;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.type-icon {
    flex: 0 0 auto;
}

.item-label {
    flex: 1 1 auto;
    margin: 0 0.5rem 0 0.5rem;
}

.trash-bin {
    flex: 0 0 auto;
    visibility: hidden;
}

.item:hover>.trash-bin {
    visibility: visible;
}