<mat-selection-list [multiple]="multiple"
                    hideSingleSelectionIndicator
                    (selectionChange)="onUserSelectionChange($event)">

    <mat-list-option *ngFor="let user of users"
                     [value]="user"
                     color="primary">

        <img matListItemAvatar
             [src]="getAvatar(user)">
        <h3 matListItemTitle>{{user.surname}} {{user.lastname}}</h3>
        <p matListItemLine>{{user.email}}</p>
    </mat-list-option>

</mat-selection-list>