<mat-tree [dataSource]="dataSource"
          [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                   matTreeNodePadding
                   matTreeNodePaddingIndent="1rem"
                   (click)="onClick(node)">

        <mat-icon class="material-symbols-outlined"
                  matTreeNodeToggle
                  (click)="onClick(node)">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>

        <span class="node"
              matTreeNodeToggle>
            <mat-icon class="material-symbols-outlined">folder</mat-icon>
            <span class="label">{{node.inode.name}}</span>
        </span>
    </mat-tree-node>
</mat-tree>