<h2 mat-dialog-title>{{data.inode.name}}</h2>

<mat-dialog-content class="mat-typography">

    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Allgemein">
            <app-files-properties-commons class="tab-content"
                                          [inode]="inode"></app-files-properties-commons>
        </mat-tab>

        <mat-tab label="Berechtigungen">
            <app-files-properties-permissions class="tab-content"
                                              [(inode)]="inode"></app-files-properties-permissions>
        </mat-tab>

        <mat-tab label="Hashtags">
            <app-hashtag-selector class="tab-content"
                                  [(hashTags)]="hashTags"></app-hashtag-selector>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button
            color="primary"
            mat-dialog-close
            [disabled]="disableSaveBtn"
            (click)="onSave()">Speichern</button>
    <button mat-button
            color="primary"
            mat-dialog-close>Schließen</button>
</mat-dialog-actions>