<form>

    <mat-form-field>
        <mat-label>Besitzer</mat-label>
        <mat-select [disabled]="!hasOwnership()"
                    [value]="inode.owner"
                    (selectionChange)="onOwnerChange($event)">
            <mat-option *ngFor="let group of primaryGroups"
                        [value]="group.uuid">
                <div class="disp-flex flex-row flex-alignitems-center>">
                    <img class="avatar flex-0 small-right-spacer"
                         [src]="getAvatarUrl(group)">
                    <span class="flex-1">{{group.name}}</span>
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Gruppe</mat-label>
        <mat-select [disabled]="!hasOwnership()"
                    [value]="inode.group"
                    (selectionChange)="onGroupChange($event)">

            <mat-option *ngFor="let group of allGroups"
                        [value]="group.uuid">
                <mat-icon class="material-symbols-outlined">group</mat-icon>
                <span>{{group.name}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <app-files-permissions [permission]="inode.perms"
                           (permissionChange)="onPermissionChange($event)"
                           [disabled]="!hasOwnership()"></app-files-permissions>

</form>