.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.grid-container > div {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  grid-column-start: 1;
  grid-column-end: 2;
  font-weight: 500;
}

.value {
  grid-column-start: 2;
  grid-column-end: 4;
}