<span class="menu-trigger"
      [matMenuTriggerFor]="contextMenu"
      [style.left]="triggerPosX"
      [style.top]="triggerPosY">
</span>

<mat-menu #contextMenu="matMenu">
    <button mat-menu-item
            [disabled]="!this.isReadAllowed"
            (click)="onOpen()">
        <mat-icon class="material-symbols-outlined">file_open</mat-icon><b>Öffnen</b>
    </button>

    <a mat-menu-item
       *ngIf="!inode.isDirectory()"
       target="_blank"
       href="viewer/show/{{inode.uuid}}">
        <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>
        In neuem Tab öffnen</a>

    <!-- Das SubMenu mit den Create-Optionen -->
    <mat-divider *ngIf="inode.isDirectory()"></mat-divider>
    <app-files-create-menu *ngIf="inode.isDirectory()"
                           [parent]="inode"
                           (create)="onCreateDocument($event)"
                           text="Neu"></app-files-create-menu>

    <mat-divider></mat-divider>
    <button mat-menu-item
            [disabled]="!this.isWriteAllowed"
            (click)="onRename()">
        <mat-icon class="material-symbols-outlined">edit</mat-icon>Umbenennen
    </button>
    <button mat-menu-item
            [disabled]="!this.isDeleteAllowed"
            (click)="onDelete()">
        <mat-icon class="material-symbols-outlined">delete</mat-icon>Löschen
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item
            [disabled]="!this.isDeleteAllowed"
            (click)="onCut()">
        <mat-icon class="material-symbols-outlined">content_cut</mat-icon>Ausschneiden
    </button>
    <button mat-menu-item
            [disabled]="!this.isReadAllowed"
            (click)="onCopy()">
        <mat-icon class="material-symbols-outlined">file_copy</mat-icon>Kopieren
    </button>
    <button mat-menu-item
            [disabled]="!this.isReadAllowed"
            (click)="onLink()">
        <mat-icon class="material-symbols-outlined">add_link</mat-icon>Verknüpfung kopieren
    </button>
    <button mat-menu-item
            [disabled]="!this.isWriteAllowed"
            *ngIf="isPasteEnabled"
            (click)="onPaste()">
        <mat-icon class="material-symbols-outlined">content_paste</mat-icon>Einfügen
    </button>

    <mat-divider></mat-divider>
    <button mat-menu-item
            [disabled]="!this.isReadAllowed"
            (click)="onSendToDashboard()">
        <mat-icon class="material-symbols-outlined">dashboard_customize</mat-icon>Ans Dashboard senden
    </button>

    <mat-divider></mat-divider>
    <button mat-menu-item
            [disabled]="!this.isReadAllowed"
            (click)="onShowProps()">
        <mat-icon class="material-symbols-outlined">settings</mat-icon>Eigenschaften
    </button>


</mat-menu>