.outer-cnr {
    background-color: white;
    padding: 0.5rem;
    height: 100%;
}

mat-panel-title {
    font-weight: 500;
}

.panel-body {
    display: flex;
    flex-direction: column;
}

.style-indicator-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.style-indicator-value {
    flex: 0;
    display: inline-block;
    min-width: 2rem;
    min-height: 1rem;
    border-bottom: 3px solid black;
    box-sizing: content-box; 
}

.style-indicator-label {
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 0.5rem;
}

.grid-entry {
    width: 8rem;
}
