<div class="outer-cnr">
    <h2>Eigenschaften</h2>
    <mat-accordion>

        <!-- Position und Größe -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Position und Größe</mat-panel-title>
            </mat-expansion-panel-header>
            <app-whiteboard-pos-size-editor [shapes]="shapes"
                                            [model]="model"></app-whiteboard-pos-size-editor>
        </mat-expansion-panel>


        <!-- Linien/Rahmen-Eigenschaften -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Linie/Rahmen</mat-panel-title>
            </mat-expansion-panel-header>
            <app-whiteboard-linestyle-editor [shapes]="shapes"
                                             [model]="model"></app-whiteboard-linestyle-editor>
        </mat-expansion-panel>

        <!-- Hintergrund -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Hintergrund</mat-panel-title>
            </mat-expansion-panel-header>


            <app-whiteboard-fill-effect-editor [shapes]="shapes"
                                               [model]="model">
            </app-whiteboard-fill-effect-editor>
            
        </mat-expansion-panel>

        <!-- TextBox -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Text</mat-panel-title>
            </mat-expansion-panel-header>
            <app-whiteboard-text-editor [shapes]="shapes"
                                        [model]="model">
            </app-whiteboard-text-editor>
        </mat-expansion-panel>


    </mat-accordion>
</div>