<div class="outer-cnr">
    <h2>Eigenschaften</h2>
    <mat-accordion>

        <!-- Position und Größe -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Position und Größe</mat-panel-title>
            </mat-expansion-panel-header>
            <app-whiteboard-pos-size-editor [shapes]="shapes"
                                            [model]="model"></app-whiteboard-pos-size-editor>
        </mat-expansion-panel>


        <!-- Linien/Rahmen-Eigenschaften -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Linie/Rahmen</mat-panel-title>
            </mat-expansion-panel-header>
            <app-whiteboard-linestyle-editor [shapes]="shapes"
                                             [model]="model"></app-whiteboard-linestyle-editor>
        </mat-expansion-panel>

        <!-- Hintergrund -->
        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <mat-panel-title>Hintergrund</mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Auswahl des Füll-Modus -->
            <mat-form-field class="full-width">
                <mat-label>Füllung</mat-label>
                <mat-select [(ngModel)]="fillStyle">
                    <mat-option value="none">Keine</mat-option>
                    <mat-option value="color">Farbe</mat-option>
                    <mat-option value="image">Bild</mat-option>
                    <mat-option value="gradient">Farbverlauf</mat-option>
                </mat-select>
            </mat-form-field>

            <div [ngSwitch]="fillStyle">

                <app-whiteboard-bg-color-editor *ngSwitchCase="'color'"
                                                [shapes]="shapes"
                                                [model]="model">
                </app-whiteboard-bg-color-editor>

                <app-whiteboard-bg-image-editor *ngSwitchCase="'image'"
                                                [shapes]="shapes"
                                                [model]="model">
                </app-whiteboard-bg-image-editor>

                <app-whiteboard-bg-gradient-editor *ngSwitchCase="'gradient'"
                                                   [shapes]="shapes"
                                                   [model]="model">
                </app-whiteboard-bg-gradient-editor>

            </div>

        </mat-expansion-panel>

        <!-- Position und Größe -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Text</mat-panel-title>
            </mat-expansion-panel-header>
            <app-whiteboard-text-editor [shapes]="shapes"
                                        [model]="model">
            </app-whiteboard-text-editor>
        </mat-expansion-panel>



    </mat-accordion>
</div>