<span class="menu-trigger"
      [matMenuTriggerFor]="sizeMenu"
      [style.left]="triggerPosX"
      [style.top]="triggerPosY">
</span>

<mat-menu #sizeMenu="matMenu">

    <mat-radio-group [(ngModel)]="currSize">
        <div mat-menu-item
             *ngFor="let size of iconSizes"
             (click)="onIconSize(size)"
             class="disp-flex flex-alignitems-center">
            <mat-radio-button color="primary" class="flex-0" [value]="size.size"></mat-radio-button>
            <span class="flex-1">{{size.text}}</span>
        </div>
    </mat-radio-group>

</mat-menu>