<form [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
      class="full-height disp-flex flex-col small-padding mat-app-background">

    <div class="grid-container flex-0 scrollable">

        <div class="hidden">
            <mat-form-field class="hidden">
                <input matInput
                       formControlName="userId"
                       appAutoFocus>
            </mat-form-field>
        </div>

        <!-- Avatar-Selector -->
        <app-avatar-selector [user]="user"
                             (change)="onAvatarChange($event)"></app-avatar-selector>

        <!-- AccountName -->
        <mat-form-field class="account">
            <mat-label>Konto Name</mat-label>
            <input matInput
                   formControlName="accountName"
                   appAutoFocus>
            <mat-error *ngIf="userForm.get('accountName')!.hasError('required')">Bitte
                ausfüllen</mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="email">
            <mat-label>Email</mat-label>
            <input matInput
                   formControlName="email"
                   appAutoFocus>
            <mat-error *ngIf="userForm.get('email')!.hasError('email')">Keine gültige
                Email-Adresse</mat-error>
            <mat-error *ngIf="userForm.get('email')!.hasError('required')">Bitte
                ausfüllen</mat-error>
        </mat-form-field>

        <!-- VorName -->
        <mat-form-field class="vname">
            <mat-label>Vorname</mat-label>
            <input matInput
                   formControlName="surname">
            <mat-error *ngIf="userForm.get('surname')!.hasError('required')">Bitte
                ausfüllen</mat-error>
        </mat-form-field>

        <!-- NachName -->
        <mat-form-field class="zname">
            <mat-label>Nachname</mat-label>
            <input matInput
                   formControlName="lastname">
            <mat-error *ngIf="userForm.get('lastname')!.hasError('required')">Bitte
                ausfüllen</mat-error>
        </mat-form-field>
    </div>

    <!-- Filler -->
    <div class="flex-1"></div>

    <!-- button area -->
    <div class="flex-0">
        <button mat-flat-button
                type="submit"
                color="primary"
                class="small-right-spacer"
                [disabled]="!userForm.valid">Speichern</button>
        <button mat-button
                type="button"
                color="primary"
                (click)="onResetForm()">Zurück setzen</button>
    </div>
</form>