<div class="disp-flex flex-col full-height scrollable outer">
    <div class="flex-0 disp-flex flex-row flex-alignitems-center small-padding small-topbottom-lightgray-border toolbar">
        <div class="flex-1">{{file.name}}</div>
        <button mat-icon-button class="flex-0" matTooltip="Vorschau schließen" (click)="onClosePreview()">
            <mat-icon class="material-symbols-outlined">close</mat-icon>
        </button>
    </div>

    <div class="flex-1 scrollable small-padding" [ngSwitch]="mainType">
        <img *ngSwitchCase="'image'" [src]="src | safe:'resourceUrl'" (load)="onLoaded()">
        <embed *ngSwitchDefault  [src]="src | safe:'resourceUrl'" [type]="file.type" (load)="onLoaded()">
    </div>
</div>


