.inode-outer-row {
    display: flex;
    flex-direction: column;
}

.inode-inner-row {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.field-hidden {
    display: none;
    flex: 0;
}

.field-name {
    margin-right: 0.25rem;
    flex: 1 1 auto;
}

.field-action {
    margin-left: 0.25rem;
    flex: 0 0 auto;
}

.hidden {
    display: none;
}

