.inode-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.field-hidden {
    display: none;
    flex: 0;
}

.field-name {
    flex: 2;
}

.field-action {
    flex: 1;
}

