<mat-tree [dataSource]="dataSource"
          [treeControl]="treeControl">

    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node"
                   matTreeNodePadding
                   matTreeNodePaddingIndent="24">

        <!-- use a empty icon to provide padding for tree leaf -->
        <mat-icon class="material-symbols-outlined"></mat-icon>

        <div class="node"
             matRipple
             [class.selected]="isSelected(node)"
             (click)="onNodeSelect(node)">
            <img [src]="getAvatarUrl(node)"
                 *ngIf="isPrimary(node)">
            <mat-icon class="material-symbols-outlined"
                      *ngIf="!isPrimary(node)">group</mat-icon>
            <span>{{node.name}}</span>
        </div>

    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild"
                   matTreeNodePadding
                   matTreeNodePaddingIndent="24">

        <mat-icon class="material-symbols-outlined"
                  matTreeNodeToggle>
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
        <div class="node"
             matRipple
             [class.selected]="isSelected(node)"
             (click)="onNodeSelect(node)">
            <img [src]="getAvatarUrl(node)"
                 *ngIf="isPrimary(node)">
            <mat-icon class="material-symbols-outlined"
                      *ngIf="!isPrimary(node)">group</mat-icon>
            <span>{{node.name}}</span>
        </div>
    </mat-tree-node>
</mat-tree>