<div class="disp-flex flex-col full-height scrollable">

    <app-toolbar class="flex-0 small-bottom-lightgray-border">

        <button mat-icon-button
                matTooltip="Eine neuen Gruppe anlegen"
                (click)="onCreateGroup()">
            <mat-icon class="material-symbols-outlined">group_add</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Ansicht neu laden"
                (click)="onReloadGroups()">
            <mat-icon class="material-symbols-outlined">refresh</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Die ausgewählten Gruppen löschen">
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
        </button>

    </app-toolbar>

    <div class="flex-1 disp-flex flex-col full-height scrollable middle-padding">

        <app-hint class="flex-0 middle-bottom-spacer">
            <p>
                Auf der linken Seite wird Dir die Struktur aller Gruppen als Baum
                dargestellt. Jede Gruppe kann in mehreren anderen Gruppen enthalten 
                sein, das ganze ist recht komplex.
            </p>
            <p>
                Wenn Du einen Knoten auswählst, kannst Du auf der rechren Seite weitere
                Gruppen hinzufügen oder bestehende Zuordnungen entfernen.
            </p>
        </app-hint>

        <div class="flex-1 disp-flex flex-row full-height scrollable">

            <!-- Die Baum-Struktur aller Gruppen -->
            <div class="flex-1 scrollable small-right-spacer list-cnr mat-elevation-z2">
                <!-- Hier muss der GroupTree hin! -->
                <!-- <app-group-selector [groups]="groupTree"
                                    (selectionChange)="onGroupSelection($event)"></app-group-selector> -->
                <app-group-tree [groups]="groupTree" (selection)="onGroupSelection($event)"></app-group-tree>
            </div>

            <!-- Die Liste aller Gruppen -->
            <div class="flex-1 scrollable small-left-spacer list-cnr mat-elevation-z2">
                <app-group-selector [groups]="allGroups"
                                    [multiple]="true"
                                    [selection]="currentMembers"></app-group-selector>
            </div>
        </div>
    </div>

    <div class="flex-0 middle-padding">
        <button mat-flat-button
                type="submit"
                color="primary"
                class="small-right-spacer">Speichern</button>
        <button mat-button
                type="button"
                color="primary">Zurück setzen</button>
    </div>
</div>