<div class="disp-flex flex-col full-height scrollable mat-app-background">

    <app-toolbar class="flex-0 small-bottom-lightgray-border">

        <button mat-icon-button
                matTooltip="Eine neuen Gruppe anlegen"
                (click)="onCreateGroup()">
            <mat-icon class="material-symbols-outlined">group_add</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Ansicht neu laden"
                (click)="onReloadGroups()">
            <mat-icon class="material-symbols-outlined">refresh</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Die ausgewählten Gruppen löschen"
                (click)="onDeleteGroup()"
                [disabled]="!isGroupSelected">
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
        </button>

    </app-toolbar>

    <div class="flex-1 disp-flex flex-col full-height scrollable middle-padding">

        <div class="flex-0 disp-flex flex-row">
            <h2 class="flex-1 small-right-spacer">Alle Gruppen</h2>
            <h2 class="flex-1 small-left-spacer">Gruppen-Mitglieder von '{{currentGroup.name}}'</h2>
        </div>

        <div class="flex-1 disp-flex flex-row full-height scrollable">

            <div class="flex-1 scrollable list-cnr small-right-spacer">
                <app-group-tree [groups]="rootGroup" (selection)="onGroupSelection($event)"></app-group-tree>
            </div>

            <div class="flex-1 scrollable list-cnr small-left-spacer">
                <app-group-selector [groups]="possibleMembers"
                                    [multiple]="true"
                                    [selection]="currentMembers"
                                    (selectionChange)="onMemberChange($event)">
                </app-group-selector>
            </div>
        </div>
    </div>

    <div class="flex-0 middle-padding">
        <button mat-flat-button
                type="submit"
                color="primary"
                class="small-right-spacer"
                (click)="onSubmit()"
                [disabled]="!isGroupSelected">Speichern</button>
        <button mat-button
                type="button"
                color="primary">Zurück setzen</button>
    </div>
</div>