.outer-cnr {
    position: relative;
    height: 100%;
    overflow: auto;
}

#toolbar {
    height: 48px;
}

#editor {
    height: calc(100% - 48px);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}