<div class="outer-cnr">
     <div class="dashboard-widgets">
          <app-dashboard-widget *ngFor="let widget of widgets"
                                [widgetType]="widget.widgetType"
                                [id]="widget.id"
                                [maxWidth]="gridCols"
                                [width]="widget.width"
                                [height]="widget.height"
                                [style.gridArea]="calcGridAreaFor(widget)"
                                (changeDimensions)="onChangeWidgetDimensions($event)"
                                (delete)="onDeleteWidget($event)"
                                class="mat-elevation-z4"></app-dashboard-widget>
     </div>
     <button mat-fab
             [matMenuTriggerFor]="widgetsMenu"
             color="primary"
             class="add-widget-btn">
          <mat-icon class="material-symbols-outlined">dashboard_customize</mat-icon>
     </button>

     <mat-menu #widgetsMenu="matMenu">
          <button mat-menu-item
                  *ngFor="let widget of widgetsToAdd"
                  (click)="onAddWidget(widget.typeName)">
               {{widget.desc}}
          </button>
     </mat-menu>
</div>