:host {
    height: 100%;
}

.outer-cnr {
    position: relative;
    display: block;
    height: 100%;
    overflow: auto;
    padding: 1rem;    
}

.add-widget-btn {

    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

mat-grid-list {
    height: 100%;
}

