<div class="small-padding scrollable">

    <h1>Opensource-Lizenzen</h1>
    <p>
        Die <i>Working together</i>-Anwendung steht unter der <a
           href="https://www.gnu.org/licenses/gpl-3.0.en.html#license-text"
           target="_blank">GPL V3</a>.
        Es steht Dir (im Rahmen der GPLv3) frei die komplette Anwendung zu verwenden, zu kopieren oder an Deine
        Anforderungen anzupassen.
    </p>

    <h1>Verwendete Opensource-Software</h1>

    <hr>
    <h2>Datenbank</h2>
    <p>Als Datenbank wird MariaDB verwendet. MariaDB steht unter der <a
           href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html#SEC1"
           target="_blank">GPL V2</a>.</p>

    <hr>
    <h2>Server</h2>
    <p>Für die Backend-Server-Software wird Spring-boot verwendet. Spring-boot steht unter der <a
           href="https://www.apache.org/licenses/LICENSE-2.0"
           target="_blank">Apache Lizenz V2</a> </p>

    <hr>
    <h2>Frontend</h2>
    <p>Für die Frontend-Software wird Angular verwendet. Angular steht unter der <a
           href="https://www.mit.edu/~amini/LICENSE.md"
           target="_blank">MIT-Lizenz</a></p>

    <hr>
    <h2>Kalender</h2>
    <p>Als Kalender-Komponente wird DayPilot-lite verwendet. DayPilot-lite steht unter der <a
        href="https://www.apache.org/licenses/LICENSE-2.0"
        target="_blank">Apache Lizenz V2</a> </p>

</div>