<div class="small-padding scrollable mat-app-background full-height">

       <h1>Opensource-Lizenzen</h1>

       Colab selbst ist OpenSource und steht unter GPLv2. Die folgenden OpenSource-Komponenten werden in Colab verwendet:

       <mat-table [dataSource]="licences">

              <ng-container matColumnDef="name">
                     <th mat-header-cell
                         *matHeaderCellDef>Name</th>
                     <td mat-cell
                         *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="creator">
                     <th mat-header-cell
                         *matHeaderCellDef>Creator</th>
                     <td mat-cell
                         *matCellDef="let element"> {{element.creator}} </td>
              </ng-container>

              <ng-container matColumnDef="licence">
                     <th mat-header-cell
                         *matHeaderCellDef>Lizenz</th>
                     <td mat-cell
                         *matCellDef="let element"> {{element.licence}} </td>
              </ng-container>

              <ng-container matColumnDef="repository">
                     <th mat-header-cell
                         *matHeaderCellDef>Quelle</th>
                     <td mat-cell
                         *matCellDef="let element"><a href={{element.url}} target="_blank">{{element.url}}</a> </td>
              </ng-container>


              <tr mat-header-row
                  *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row
                  *matRowDef="let row; columns: displayedColumns;"></tr>
       </mat-table>
</div>