:host {
    width: 100%;
    height: 100%;
    display: block;
    background-color: whitesmoke;
    color: #333;
    position: relative;
}

.content {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;   
    align-content: center;
    gap: 0.5rem;
}

.options-col1 {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
}

.options-col2 {
    display: inline;
    grid-column-start: 2;
    grid-column-end: 3;
}

.options-col1-2 {
    display: inline;
    grid-column-start: 1;
    grid-column-end: 3;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
}
