.outer-cnr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 0.5rem;
}
    
.line-style {
    grid-column: span 2 / span 2;
}

.style-indicator-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.style-indicator-value {
    flex: 0;
    display: inline-block;
    min-width: 2rem;
    min-height: 1rem;
    border-bottom: 3px solid black;
    box-sizing: content-box;
}

.style-indicator-label {
    flex: 1;
}
