<form class="full-width">
  <mat-form-field class="full-width">
    <mat-label>Hashtags</mat-label>
    <input placeholder="Neuer Hashtag"
           #hashCodeInput
           [formControl]="hashTagCtrl"
           [matChipInputFor]="chipGrid"
           [matAutocomplete]="auto"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="onAdd($event)" />
    <mat-autocomplete #auto="matAutocomplete"
                      hideSingleSelectionIndicator="true"
                      (optionSelected)="onAutoCompleteSelected($event)">
      <mat-option *ngFor="let hashCode of filteredHashTags | async"
                  [value]="hashCode">
        {{hashCode}}
      </mat-option>
    </mat-autocomplete>

    <mat-chip-grid color="primary"
                   #chipGrid>
      <mat-chip-row highlighted
                    color="primary"
                    *ngFor="let tag of tags"
                    (removed)="onRemove(tag)">
        #{{tag}}
        <button matChipRemove>
          <mat-icon class="material-symbols-outlined">cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
  </mat-form-field>

</form>
