<div class="outer">

  <input [matAutocomplete]="auto"
         (input)="onInput($event)"
         [placeholder]="placeholder"
         #search>
</div>

<mat-autocomplete #auto="matAutocomplete"
                  (optionSelected)="onOptionSelected($event, search)">

  <!-- MatOptions für gefundene Inodes -->
  <mat-optgroup *ngIf="results.inodes.length"
                label="Files">
    <mat-option class="multiline-option"
                *ngFor="let inode of results.inodes"
                [value]="inode">

      <div class="disp-flex flex-row flex-alignitems-center">
        <mat-icon color="primary"
                  class="flex-0 material-symbols-outlined">description</mat-icon>
        <div class="flex-1">
          <div class="small-bottom-spacer">{{inode.name}}</div>
          <div class="small-bottom-spacer">UUID: {{inode.uuid}}</div>
          <div class="small-bottom-spacer">Parent: {{inode.parent}}</div>
        </div>
      </div>
    </mat-option>
  </mat-optgroup>

  <!-- MatOptions für gefundene User -->
  <mat-optgroup *ngIf="results.users.length"
                label="Benutzer">
    <mat-option class="multiline-option"
                *ngFor="let user of results.users"
                [value]="user">

      <div class="disp-flex flex-row flex-alignitems-center">
        <mat-icon color="primary"
                  class="flex-0 material-symbols-outlined">person</mat-icon>
        <div class="flex-1">
          <div class="small-bottom-spacer">{{user.accountName}}</div>
          <div class="small-bottom-spacer">{{user.surName}} {{user.lastName}}</div>
          <div class="small-bottom-spacer">{{user.email}}</div>
          <div class="small-bottom-spacer">UUID: {{user.uuid}}</div>
        </div>
      </div>
    </mat-option>
  </mat-optgroup>


  <!-- MatOptions für gefundene Gruppen -->
  <mat-optgroup *ngIf="results.groups.length"
                label="Gruppen">
    <mat-option class="multiline-option"
                *ngFor="let group of results.groups"
                [value]="group">

      <div class="disp-flex flex-row flex-alignitems-center">
        <mat-icon color="primary"
                  class="flex-0 material-symbols-outlined">group</mat-icon>
        <div class="flex-1">
          <div class="small-bottom-spacer">{{group.name}}</div>
          <div class="small-bottom-spacer">UUID: {{group.uuid}}</div>
        </div>
      </div>
    </mat-option>
  </mat-optgroup>

</mat-autocomplete>