<mat-selection-list [multiple]="multiple"
                    (selectionChange)="onGroupSelectionChange($event)">

    <mat-list-option *ngFor="let group of groups"
                     [value]="group"
                     [selected]="isSelected(group)">
        <div class="disp-flex flex-row flex-alignitems-center">
            <mat-icon matListItemIcon
                      class="material-symbols-outlined flex-0 small-right-spacer"
                      *ngIf="group.primary">person</mat-icon>
            <mat-icon matListItemIcon
                      class="material-symbols-outlined flex-0 small-right-spacer"
                      *ngIf="!group.primary">group</mat-icon>
            <span class="flex-1">{{group.name}}</span>
        </div>
    </mat-list-option>

</mat-selection-list>