<mat-selection-list [multiple]="multiple"
                    hideSingleSelectionIndicator
                    (selectionChange)="onGroupSelectionChange($event)">

    <mat-list-option *ngFor="let group of groups"
                     [value]="group"
                     color="primary"
                     [selected]="isSelected(group)">

        <img matListItemAvatar
             *ngIf="group.primary"
             [src]="getAvatar(group)">
             
        <mat-icon matListItemIcon
                  class="material-symbols-outlined flex-0 small-right-spacer"
                  *ngIf="!group.primary">group</mat-icon>
        <h3 matListItemTitle>{{group.name}}</h3>
    </mat-list-option>

</mat-selection-list>