<span class="menu-trigger"
      [matMenuTriggerFor]="queryMenu"
      [style.left]="triggerPosX"
      [style.top]="triggerPosY">
</span>

<mat-menu #queryMenu="matMenu">

    <button mat-menu-item
            (click)="onExport()">
        <mat-icon class="material-symbols-outlined">event</mat-icon>
        Als iCAL exportieren
    </button>

    <mat-divider></mat-divider>

    <!-- NestedMenu für die Lösch-Ops eines recurring-Events -->
    <button mat-menu-item
            *ngIf="calendarEvent.isRecurring"
            [matMenuTriggerFor]="recurring">
        <mat-icon class="material-symbols-outlined">delete</mat-icon>
        Löschen
    </button>

    <!-- Lösche ein "gewöhnliches" Element -->
    <button mat-menu-item
            *ngIf="!calendarEvent.isRecurring"
            (click)="onDeleteSerie()">
        <mat-icon class="material-symbols-outlined">delete</mat-icon>
        Löschen
    </button>
</mat-menu>

<!-- Delete-Menu for recurring-Events-->
<mat-menu #recurring="matMenu">
    <button mat-menu-item
            (click)="onDeleteElement()">
        <mat-icon class="material-symbols-outlined">delete</mat-icon>
        Nur diesen Termin
    </button>

    <button mat-menu-item
            (click)="onDeleteSerie()">
        <mat-icon class="material-symbols-outlined">delete</mat-icon>
        Ganze Serie
    </button>
</mat-menu>