@import "assets/styles/common.css";
@import "assets/styles/flexbox.css";
@import "assets/styles/paddings.css";
@import "assets/styles/spacers.css";
@import "assets/styles/borders.css";
@import "assets/styles/grid.css";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    /* background-color: #f8f8f8; */
    background-color: white;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
 * Seit angular material 15 werden diese grauslichen Hintergrund-Filler
 * an FormFields angezeigt. Die will ich aber nicht!
 */
/* .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

.mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
} */

/**
 * Tab-Bodies sollen immer den komplett verfügbaren Raum einnehmen!
 */
.mat-tab-body-wrapper, /* angular < 16 */
.mat-mdc-tab-body-wrapper /* angular >= 16 */
{
  flex-grow: 1 !important;
}

.cdk-overlay-pane {
    background-color: white !important;
}
