@import "assets/styles/common.css";
/* @import "assets/styles/grid.css"; */
@import "assets/styles/flexbox.css";
@import "assets/styles/paddings.css";
@import "assets/styles/spacers.css";
@import "assets/styles/borders.css";
@import "assets/styles/material-overrides.css";
@import '~quill/dist/quill.snow.css';
@import "assets/styles/quill-overrides.css";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    /* background-color: #f8f8f8; */
    background-color: white;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
