@import "assets/styles/common.css";
@import "assets/styles/flexbox.css";
@import "assets/styles/paddings.css";
@import "assets/styles/spacers.css";
@import "assets/styles/borders.css";
@import "assets/styles/material-overrides.css";
@import '~quill/dist/quill.snow.css';
/* @import '~quill/dist/quill.bubble.css'; */

@import "assets/styles/quill-overrides.css";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: white;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Number-Input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    appearance: textfield;
    /* Firefox */
    -moz-appearance: textfield;
    /* Firefox */
}
