.outer-cnr {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.image-chooser {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 3;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-chooser>span {
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: 500;
}

.image-chooser>button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}