<div class="outer-cnr">

    <mat-form-field class="type-selector">
        <mat-label>Typ</mat-label>
        <mat-select [(ngModel)]="gradientType">
            <mat-option value="TopDown">Senkrecht</mat-option>
            <mat-option value="LeftRight">Waagerecht</mat-option>
            <mat-option value="Diagonal">Diagonal</mat-option>
            <mat-option value="Radial">Kreisförmig</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="color-selector">
        <mat-label>Farbe 1</mat-label>
        <input matInput
               matInput
               type="color"
               [(ngModel)]="start">
    </mat-form-field>

    <mat-form-field class="color-selector">
        <mat-label>Farbe 2</mat-label>
        <input matInput
               matInput
               type="color"
               [(ngModel)]="stop">
    </mat-form-field>
</div>