<div class="spinner-cnr">
    <app-number-spinner class="spinner"
                        [min]="0"
                        [max]="23"
                        [value]="hours"
                        (valueChange)="hours=$event"></app-number-spinner>
    <span class="delimiter">:</span>
    <app-number-spinner class="spinner"
                        [min]="0"
                        [max]="59"
                        [value]="minutes"
                        (valueChange)="minutes=$event"></app-number-spinner>
    <span class="delimiter"
          *ngIf="showSeconds">:</span>
    <app-number-spinner class="spinner"
                        *ngIf="showSeconds"
                        [min]="0"
                        [max]="59"
                        [value]="seconds"
                        (valueChange)="seconds=$event"></app-number-spinner>
</div>