<div mat-dialog-title>Folgende Objekte existieren bereits in diesem Ordner</div>

<div mat-dialog-content class="scrollable">
    <mat-list>
        <mat-list-item class="disp-flex flex-row flex-alignitems-center" *ngFor="let inode of inodes">
            <img class="icon flex-0 small-right-spacer" [src]="getIcon(inode)">
            <span class="flex-1">{{inode.name}}</span>
        </mat-list-item>
    </mat-list>
</div>

<div mat-dialog-actions>
    <button mat-flat-button color="primary" [mat-dialog-close]="ACTION_OVERWRITE" appAutoFocus>Überschreiben</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="ACTION_AUTORENAME">automatisch umbenennen</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="ACTION_CANCEL">Abbrechen</button>
</div>