<form class="full-height disp-flex flex-col scrollable"
      [formGroup]="profileForm"
      (ngSubmit)="onSubmit()">

    <div class="flex-1 middle-padding grid scrollable">

        <div class="hidden">
            <mat-form-field class="grid-col-4">
                <input matInput
                       formControlName="userId"
                       appAutoFocus>
            </mat-form-field>
        </div>

        <div class="grid-row-0">
            <app-avatar-selector [user]="user"
                                 (change)="onAvatarChange($event)"></app-avatar-selector>
        </div>
 
        <div class="grid-row-0">
            <mat-form-field class="grid-col-2">
                <mat-label>Konto Name</mat-label>
                <input matInput
                       formControlName="accountName"
                       appAutoFocus>
                <mat-error *ngIf="profileForm.get('accountName')!.hasError('required')">Bitte ausfüllen</mat-error>
            </mat-form-field>
        </div>


        <div class="grid-row-0">
            <mat-form-field class="grid-col-4">
                <mat-label>Email</mat-label>
                <input matInput
                       formControlName="email"
                       appAutoFocus>
                <mat-error *ngIf="profileForm.get('email')!.hasError('email')">Keine gültige Email-Adresse</mat-error>
                <mat-error *ngIf="profileForm.get('email')!.hasError('required')">Bitte ausfüllen</mat-error>
            </mat-form-field>
        </div>

        <div class="grid-row-0">
            <mat-form-field class="grid-col-2">
                <mat-label>Vorname</mat-label>
                <input matInput
                       formControlName="surname">
                <mat-error *ngIf="profileForm.get('surname')!.hasError('required')">Bitte ausfüllen</mat-error>
            </mat-form-field>

            <mat-form-field class="grid-col-2">
                <mat-label>Nachname</mat-label>
                <input matInput
                       formControlName="lastname">
                <mat-error *ngIf="profileForm.get('lastname')!.hasError('required')">Bitte ausfüllen</mat-error>
            </mat-form-field>
        </div>
    </div>

    <mat-divider></mat-divider>
    <div class="flex-0 middle-padding">
        <button type="submit"
                mat-flat-button
                class="small-right-spacer"
                color="primary"
                [disabled]="!profileForm.valid">Speichern</button>
        <button type="button"
                mat-button
                (click)="onGoBack()">Zurück</button>
    </div>
</form>