<table>
    <tr>
        <th></th>
        <th>Lesen</th>
        <th>Schreiben</th>
        <th>Löschen</th>
    </tr>
    <tr>
        <th>Besitzer:</th>
        <td><mat-checkbox color="primary"></mat-checkbox></td>
        <td><mat-checkbox color="primary"></mat-checkbox></td>
        <td><mat-checkbox color="primary"></mat-checkbox></td>
    </tr>

    <tr>
        <th>Gruppe:</th>
        <td><mat-checkbox color="primary"></mat-checkbox></td>
        <td><mat-checkbox color="primary"></mat-checkbox></td>
        <td><mat-checkbox color="primary"></mat-checkbox></td>
    </tr>

    <tr>
        <th>Andere:</th>
        <td><mat-checkbox color="primary"></mat-checkbox></td>
        <td><mat-checkbox color="primary"></mat-checkbox></td>
        <td><mat-checkbox color="primary"></mat-checkbox></td>
    </tr>
</table>