mat-card {
    display: inline-block;
    width: 200px;
}

.icon {
    width: 120px;
    position: relative;
    left:  50%;
    transform: translateX(-50%);
}

.title {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: large;
    font-weight: 500;
    white-space: nowrap;
    margin-top: 1rem;
}