<div class="outer-cnr">

    <mat-form-field>
        <mat-label>X</mat-label>
        <input matInput
               type="number"
               min="0"
               [(ngModel)]="x">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Y</mat-label>
        <input matInput
               type="number"
               min="0"
               [(ngModel)]="y">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Breite</mat-label>
        <input matInput
               type="number"
               min="0"
               [(ngModel)]="w">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Höhe</mat-label>
        <input matInput
               type="number"
               min="0"
               [(ngModel)]="h">
    </mat-form-field>

</div>