<div class="outer-cnr mat-app-background">

    <!-- die Toolbar -->
    <app-toolbar class="small-bottom-lightgray-border toolbar">

        <button mat-icon-button
                [matMenuTriggerFor]="createMenu">
            <mat-icon class="material-symbols-outlined">note_add</mat-icon>
        </button>

        <mat-menu #createMenu="matMenu">
            <button mat-menu-item>
                <mat-icon class="material-symbols-outlined">text_fields</mat-icon>
                Text
            </button>
            <button mat-menu-item>
                <mat-icon class="material-symbols-outlined">format_list_bulleted</mat-icon>
                Checkliste
            </button>
        </mat-menu>

        <button mat-icon-button
                (click)="onReload()">
            <mat-icon class="material-symbols-outlined">refresh</mat-icon>
        </button>

        <span class="flex-1"></span>
        <mat-button-toggle-group name="viewMode"
                                 [(value)]="viewMode">

            <mat-button-toggle value="grid"
                               matTooltip="Raster-Darstellung">
                <mat-icon class="material-symbols-outlined">grid_on</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="list"
                               matTooltip="Listen-Darstellung">
                <mat-icon class="material-symbols-outlined">list</mat-icon>
            </mat-button-toggle>

        </mat-button-toggle-group>

    </app-toolbar>

    <div class="workspace"
         [class.grid-workspace]="viewMode==='grid'"
         [class.list-workspace]="viewMode==='list'">

        <mat-card class="card"
                  [class.grid-card]="viewMode==='grid'"
                  [class.list-card]="viewMode==='list'"
                  [routerLink]="getEditorRoute(postIt)"
                  *ngFor="let postIt of postIts">

            <mat-card-header>
                <div class="card-header">
                    <img class="card-avatar"
                         src="http://localhost:8080/v1/users/avatar/{{postIt.owner}}">
                    <span class="card-title">{{postIt.title}}</span>

                    <mat-icon class="card-menu material-symbols-outlined"
                              [matMenuTriggerFor]="menu"
                              (click)="$event.stopPropagation()">
                        more_vert
                    </mat-icon>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon class="material-symbols-outlined">edit</mat-icon>
                            Bearbeiten
                        </button>
                        <button mat-menu-item>
                            <mat-icon class="material-symbols-outlined">done</mat-icon>
                            Fertig
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item>
                            <mat-icon class="material-symbols-outlined">delete</mat-icon>
                            Löschen
                        </button>
                    </mat-menu>
                </div>
            </mat-card-header>

            <mat-card-content [ngSwitch]="postIt.type">

                <div class="card-content">

                    <div *ngSwitchCase="'TEXT'"
                         [innerHTML]="postIt.content">
                    </div>

                    <app-bucket-list *ngSwitchCase="'BUCKET_LIST'"
                                     [readonly]="true"
                                     [rootBucket]="rootBucket(postIt)">
                                    </app-bucket-list>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>