<div class="outer">
    <app-files-listview-item *ngFor="let inode of inodes"
                             class="item"
                             [inode]="inode"
                             [appINodeDragSource]="inode"
                             [appDropTarget]="inode"
                             [iconSize]="iconSize"
                             (inodesDropped)="onINodesDropped($event)"
                             (filesDropped)="onFilesDropped($event)"
                             [selected]="isSelected(inode)"
                             (selectionChange)="onItemSelectionChange(inode, $event)"
                             (open)="onOpen(inode)"
                             (rename)="onRename(inode)"
                             (cut)="onCut(inode)"
                             (copy)="onCopy(inode)"
                             (paste)="onPaste(inode)"
                             (delete)="onDelete(inode)"
                             (showProps)="onShowProps(inode)"></app-files-listview-item>
</div>