<div #outer
     class="outer full-height"
     (click)="onDeselectAll()">

     <app-files-listview-item *ngFor="let inode of inodes"
                              class="item"
                              [class.mat-elevation-z4]="isSelected(inode)"
                              [id]="inode.uuid"
                              [inode]="inode"
                              [appINodeDragSource]="inode"
                              [appINodeDragSourceSelectedINodes]="selectedINodes"
                              [appDropTarget]="inode"
                              [iconSize]="iconSize"
                              (contextmenu)="onShowContextMenu($event, inode)"
                              (inodesDropped)="onINodesDropped($event)"
                              (filesDropped)="onFilesDropped($event)"
                              (select)="onSelect(inode, $event)"
                              (click)="onOpen(inode)"></app-files-listview-item>

</div>