<div class="full-height scrollable">

    <mat-tab-group class="full-height">

        <mat-tab>
            <ng-template mat-tab-label>
                <span>Benutzer</span>
            </ng-template>
            <div class="full-height scrollable">
                <app-user-edit></app-user-edit>
            </div>
        </mat-tab>
        
        <mat-tab>
            <ng-template mat-tab-label>
                <span>Gruppen</span>
            </ng-template>
        </mat-tab>
        
    </mat-tab-group>
</div>