<ng-template
             cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="anchor"
             [cdkConnectedOverlayOpen]="isOpen"
             [cdkConnectedOverlayHasBackdrop]="true"
             cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
             (backdropClick)="onAbort()">

    <div [style.width]="width" class="outer-cnr mat-elevation-z2">

        <mat-calendar class="centered" [selected]="date" (selectedChange)="date=$event.toDate()"></mat-calendar>
        <mat-divider class="centered" ></mat-divider>
        <app-time-spinner class="centered" [time]="date" (timeChange)="time=$event"></app-time-spinner>
        <mat-divider class="centered" ></mat-divider>
        <div class="centered actions" >
            <button mat-flat-button color="primary" (click)="onSubmit()">Ok</button>        
            <button mat-button color="primary" (click)="onAbort()">Abbrechen</button>        
        </div>
    </div>
</ng-template>