<div class="full-height disp-flex flex-col">

    <div class="breadcrumb small-bottom-lightgray-border flex-0 disp-flex flex-row flex-alignitems-center">
        <app-files-bread-crumb-item *ngFor="let inode of path"
                                    [inode]="inode"
                                    (open)="onOpen($event)"></app-files-bread-crumb-item>
    </div>

    <div class="workspace"
         [class.grid-workspace]="viewMode === 'grid'"
         [class.list-workspace]="viewMode === 'list'"
         (click)="onDeselectAll()"
         [appDropTarget]="currentFolder"
         (filesDropped)="onFilesDropped($event)"
         (inodesDropped)="inodeDropMenu.show($event)"
         (contextmenu)="folderCtxtMenu.show($event)">

        <div *ngFor="let inode of inodes"
             [class.grid-item]="viewMode === 'grid'"
             [class.list-item]="viewMode === 'list'"
             [class.locked]="isLocked(inode)"
             [class.mat-elevation-z4]="isSelected(inode)"
             [appINodeDragSource]="inode"
             [appINodeDragSourceSelectedINodes]="selectedINodes"
             [appDropTarget]="inode"
             (filesDropped)="onFilesDropped($event)"
             (inodesDropped)="inodeDropMenu.show($event)"
             (click)="onOpen(inode)"
             (contextmenu)="itemCtxtMenu.show(inode, $event)">

            <div class="image"
                 [style.backgroundImage]="getINodeImage(inode)"
                 [style.height]="iconSize"
                 [style.width]="iconSize">

                <img class="link-indicator"
                     *ngIf="inode.isLink()"
                     [src]="linkIcon">
            </div>

            <div class="label"
                 [style.width]="iconSize">{{inode.name}}</div>

            <div class="selector"
                 (click)="onSelect($event, inode)">
                <mat-icon class="material-symbols-outlined">add</mat-icon>
            </div>
        </div>

    </div>

    <!-- Das Kontext-Menu für INodes -->
    <app-files-item-context-menu #itemCtxtMenu
                                 (open)="onOpen($event)"
                                 (create)="onCreateDocument($event)"
                                 (rename)="onRename($event)"
                                 (delete)="onDelete($event)"
                                 (cut)="onCut($event)"
                                 (copy)="onCopy($event)"
                                 (link)="onLink($event)"
                                 (paste)="onPaste()"
                                 (sendToDashboard)="onSendToDashboard($event)"
                                 (showProps)="onShowProps($event)">
    </app-files-item-context-menu>

    <!-- Das KontextMenu für den aktuellen Folder -->
    <app-files-folder-context-menu #folderCtxtMenu
                                   [inode]="currentFolder"
                                   (paste)="onPaste()"
                                   (showProps)="onShowProps($event)">
    </app-files-folder-context-menu>

    <app-files-inode-drop-menu #inodeDropMenu
                               (copy)="onCopyDroppedINodes($event)"
                               (move)="onMoveDroppedINodes($event)"
                               (link)="onLinkDroppedINodes($event)"></app-files-inode-drop-menu>

    <app-toolbar class="flex-0 small-top-lightgray-border"
                 *ngIf="showStatusBar">
        Gesamt: {{inodes.length}} Objekte mit {{allObjectsSize | fileSize}}
        <div *ngIf="selectedINodes.size">
            <app-toolbar-separator></app-toolbar-separator>
            {{selectedINodes.size}} Objekte mit {{selectedObjectSize | fileSize}} ausgewählt
        </div>
    </app-toolbar>
</div>