<div class="full-height">

    <div class="workspace"
         [class.grid-workspace]="viewMode === 'grid'"
         [class.list-workspace]="viewMode === 'list'"
         (click)="selection.clear()"
         [appDropTarget]="parent"
         (filesDropped)="onFilesDropped($event)"
         (inodesDropped)="inodeDropMenu.show($event)"
         (contextmenu)="folderCtxtMenu.show($event)">

        <!-- 
          GridView und ListView sind identisch, da werden die Unterschiede nur 
          per CSS definiert
          -->
        <div *ngFor="let inode of visibleChilds"
             [class.grid-item]="viewMode === 'grid'"
             [class.list-item]="viewMode === 'list'"
             [class.locked]="isLocked(inode)"
             [appINodeDragSource]="inode"
             [appINodeDragSourceSelectedINodes]="selection"
             [appDropTarget]="inode"
             (filesDropped)="onFilesDropped($event)"
             (inodesDropped)="inodeDropMenu.show($event)"
             (click)="onOpen(inode)"
             (contextmenu)="itemCtxtMenu.show(inode, $event)"
             [matTooltip]="inode.name">

            <ng-template *ngComponentOutlet="getThumbnailClass(inode); inputs: getThumbNailInputs(inode)"></ng-template>

            <div class="label"
                 [style.width]="iconSize">{{inode.name}}</div>

            <mat-checkbox class="selector"
                          *ngIf="showSelectors"
                          [checked]="isSelected(inode)"
                          (click)="onSelect($event, inode)"
                          color="primary">
            </mat-checkbox>
        </div>
    </div>

    <!-- Das Kontext-Menu für INodes -->
    <app-files-item-context-menu #itemCtxtMenu
                                 (open)="onOpen($event)"
                                 (create)="onCreateDocument($event)"
                                 (rename)="onRename($event)"
                                 (delete)="onDelete($event)"
                                 (cut)="onCut($event)"
                                 (copy)="onCopy($event)"
                                 (link)="onLink($event)"
                                 (paste)="onPaste($event)"
                                 (sendToDashboard)="onSendToDashboard($event)"
                                 (showProps)="onShowProps($event)">
    </app-files-item-context-menu>

    <!-- Das KontextMenu für den aktuellen Folder -->
    <app-files-folder-context-menu #folderCtxtMenu
                                   [inode]="parent"
                                   (createDocument)="onCreateDocument($event)"
                                   (paste)="onPaste(parent)"
                                   (showProps)="onShowProps($event)">
    </app-files-folder-context-menu>

    <app-files-inode-drop-menu #inodeDropMenu
                               (copy)="onCopyDroppedINodes($event)"
                               (move)="onMoveDroppedINodes($event)"
                               (link)="onLinkDroppedINodes($event)"></app-files-inode-drop-menu>
</div>