.breadcrumb {
    background-color: white;
    padding: 0.5rem;
}

.working-area {
    position: relative;
    height: 100%;
}

.footer {
    background-color: white;
}

/* New stuff */
.workspace {
    height: 100%;
    overflow: auto;
    padding: 1rem;
}

.label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}

.locked {
    filter: grayscale(60%);
}

/*
 * Beim GridView gilt folgendes: 
 *
 * * Die Items werden von links nach rechts angeordnet und brechen um
 * * Innerhalb des Items stehen Icon und Label zentriert untereinender, 
 *   das Label hat die selbe breite wie das Icon und wird ggf mit ellipsen abgeschnitten
 */
.grid-workspace {
}

.grid-item {
    position: relative;
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    padding: 0.5rem;
}

.grid-item>.label {
    text-align: center;
}

/**
 * Beim ListView werden die Items von oben nach unten angeordnet und brechen
 * ggf. ein weitere Spalten um.
 *
 * In den Items stehen Icon und Label zentriert nebeneinander, das Label hat
 * eine maximale breite von 150px und wird ggf. mit elippsen abgeschnitten.
 */
.list-workspace {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1rem;
}

.list-item {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

.list-item>.label {
    width: 150px !important;
}

.link-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32px;
}

.selector {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(1, 1, 1, 0.4);
    color: white;
}

.item:hover>.selector {
    display: block;
}

