<div class="full-height disp-flex flex-col">

    <div class="breadcrumb small-bottom-lightgray-border flex-0 disp-flex flex-row flex-alignitems-center">
        <app-files-bread-crumb-item *ngFor="let inode of path"
                                    [inode]="inode"
                                    (open)="onOpen($event)"></app-files-bread-crumb-item>
    </div>

    <div class="flex-1 disp-flex flex-row scrollable working-area"
         (contextmenu)="folderContextMenu.show($event)">

        <div class="flex-1 scrollable"
             [appDropTarget]="currentFolder"
             [ngSwitch]="viewMode"
             (filesDropped)="onFilesDropped($event)"
             (inodesDropped)="inodeDropMenu.show($event)">

            <app-files-grid-view *ngSwitchCase="'grid'"
                                 [inodes]="inodes"
                                 [iconSize]="iconSize"
                                 [selectedINodes]="selectedINodes"
                                 [showSelectionFrame]="showSelectionFrame"
                                 (open)="onOpen($event)"
                                 (selectionChange)="onSelectionChange($event)"
                                 (selectionFrameClosed)="onSelectionFrameClosed()"
                                 (filesDropped)="onFilesDropped($event)"
                                 (inodesDropped)="inodeDropMenu.show($event)"
                                 (showContextMenu)="itemContextMenu.show($event.inode, $event.orgEvt)">
            </app-files-grid-view>

            <app-files-list-view *ngSwitchCase="'list'"
                                 [inodes]="inodes"
                                 [iconSize]="iconSize"
                                 [selectedINodes]="selectedINodes"
                                 [showSelectionFrame]="showSelectionFrame"
                                 (selectionChange)="onSelectionChange($event)"
                                 (selectionFrameClosed)="onSelectionFrameClosed()"
                                 (filesDropped)="onFilesDropped($event)"
                                 (inodesDropped)="inodeDropMenu.show($event)"
                                 (open)="onOpen($event)"
                                 (showContextMenu)="itemContextMenu.show($event.inode, $event.orgEvt)">
            </app-files-list-view>


            <h1 *ngSwitchDefault>
                Kein Viewer für den ViewMode <b>'{{viewMode}}'</b> definiert.
            </h1>
        </div>

        <app-files-item-context-menu #itemContextMenu
                                     (open)="onOpen($event)"
                                     (create)="onCreateDocument($event)"
                                     (rename)="onRename($event)"
                                     (delete)="onDelete($event)"
                                     (cut)="onCut($event)"
                                     (copy)="onCopy($event)"
                                     (link)="onLink($event)"
                                     (paste)="onPaste()"
                                     (sendToDashboard)="onSendToDashboard($event)"
                                     (showProps)="onShowProps($event)">
        </app-files-item-context-menu>



        <!-- Das ContextMenu für den Folder selbst -->
        <app-files-folder-context-menu #folderContextMenu
                                       [inode]="currentFolder"
                                       (createDocument)="onCreateDocument($event)"
                                       (paste)="onPaste()"
                                       (showProps)="onShowProps($event)"></app-files-folder-context-menu>

        <!-- Das Menu für die Auswahl der OPs bei einem INode-Drop -->
        <app-files-inode-drop-menu #inodeDropMenu
                                   (copy)="onCopyDroppedINodes($event)"
                                   (move)="onMoveDroppedINodes($event)"
                                   (link)="onLinkDroppedINodes($event)"></app-files-inode-drop-menu>
    </div>


    <app-toolbar class="flex-0 small-top-lightgray-border"
                 *ngIf="showStatusBar">
        Gesamt: {{inodes.length}} Objekte mit {{allObjectsSize | fileSize}}
        <div *ngIf="selectedINodes.size">
            <app-toolbar-separator></app-toolbar-separator>
            {{selectedINodes.size}} Objekte mit {{selectedObjectSize | fileSize}} ausgewählt
        </div>
    </app-toolbar>
</div>