<div class="disp-flex flex-col full-height scrollable">

    <app-toolbar class="flex-0 small-bottom-lightgray-border">
        <button mat-icon-button
                [routerLink]="getEmptyUserProfileEditorUrl()"
                matTooltip="Einen neuen Benutzer anlegen">
            <mat-icon class="material-symbols-outlined">person_add</mat-icon>
        </button>
    </app-toolbar>

    <div class="flex-1 scrollable workspace">

        <mat-nav-list>
            <mat-list-item *ngFor="let user of users"
                           checkboxPosition="before"
                           color="primary"
                           [routerLink]="getProfileEditorUrl(user)">

                <div class="disp-flex flex-row flex-alignitems-center clickable">
                    <img class="flex-0 avatar small-left-right-spacer"
                         [src]="getAvatar(user)">
                    <div class="flex-1">
                        <div mat-line>{{user.surname}} {{user.lastname}} </div>
                        <div mat-line>{{user.email}} </div>
                    </div>
                </div>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>