@import '@angular/cdk/overlay-prebuilt.css';

.preview-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.editor-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
    border-radius: 4px;
}    


.done-marker, .drag-handle {
    flex: 0 0 auto;
}

.drag-handle {
    cursor: move;
}

.text-value {
    flex: 1 0 auto;
    border: 0;
    outline: none;
    padding: 0.5rem;
    overflow-wrap: break-word;
    inline-size: calc(100% - 100px);
}

.selected>.text-value {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 2px solid darkblue;
    border-radius: 4px;
}

ul {
    list-style-type: none;
}
