<!-- Anzeige im ReadOnly-Mode -->
<div class="preview-line"
     *ngIf="readonly">
    <mat-icon class="done-marker material-symbols-outlined"
              *ngIf="item.done">check_box</mat-icon>
    <mat-icon class="done-marker material-symbols-outlined"
              *ngIf="!item.done">check_box_outline_blank</mat-icon>
    <span class="text-value">{{item.title}}</span>
</div>

<!-- Anzeige im EditMode -->
<div class="editor-line"
     [class.selected]="selected"
     *ngIf="!readonly"
     matRipple>

    <mat-checkbox class="done-marker"
                  color="primary"
                  [checked]="item.done"
                  (change)="onStateChange($event.checked)"
                  [indeterminate]="someComplete"></mat-checkbox>

    <mat-icon class="drag-handle material-symbols-outlined">drag_indicator</mat-icon>

    <!-- 
        Als Editor verwendet wir hier eine ContentEditable DIV. Diese skaliert Ihre Höhe
        einfach anhand des Inhaltes. Dies kann weder ein <input> noch eine <textarea>
        leisten
     -->
    <div class="text-value"
         [textContent]="item.title"
         contenteditable="plaintext-only"
         (input)="onTextChange($event)"
         (focus)="onSelect(item)"></div>
</div>

<!-- ggf noch Kinder anzeigen -->
<ul *ngIf="item.childs && item.childs.length">
    <li *ngFor="let child of item.childs; let childIdx=index">
        <app-bucket-list-item [item]="child"
                              [readonly]="readonly"
                              (select)="onSelect($event)">
        </app-bucket-list-item>
    </li>
</ul>