<div class="outer-cnr disp-flex flex-col scrollable full-height">

    <app-toolbar>

        <!-- ViewMode -->
        <span class="flex-1"></span>
        <mat-button-toggle class="small-right-spacer"
                           [checked]="showSplit"
                           (click)="onToggleSplitView()">
            <mat-icon class="material-symbols-outlined">splitscreen_landscape</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle-group name="viewMode"
                                 [(value)]="viewMode">
            <mat-button-toggle value="grid"
                               matTooltip="Raster-Darstellung">
                <mat-icon class="material-symbols-outlined">grid_on</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="list"
                               matTooltip="Listen-Darstellung">
                <mat-icon class="material-symbols-outlined">list</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>

    </app-toolbar>

    <div class="flex-1 disp-flex full-height scrollable flex-row">

        <app-folder-view class="flex-1 full-height"
                         (click)="onActivateView(0)"
                         (preview)="onShowPreview($event)"
                         [viewMode]="viewMode"
                         [isActive]="isView1Active">
        </app-folder-view>

        <app-folder-view class="flex-1 full-height"
                         *ngIf="showSplit"
                         (preview)="onShowPreview($event)"
                         (click)="onActivateView(1)"
                         [viewMode]="viewMode"
                         [isActive]="isView2Active"></app-folder-view>

        <app-files-preview *ngIf="showPreview"
                           class="flex-1"
                           [file]="previewINode"
                           (close)="onClosePreview()"></app-files-preview>
    </div>

    <!-- <app-footer>
        {{nrOfSelectedINodes}} Objekt(e) mit {{sizeOfSelectedINodes | fileSize}} ausgewählt
    </app-footer> -->
</div>