@import "../../../../assets/styles/borders.css";

/* new IMPL */

.places {
    flex: 0;
    height: 100%;
}

.panel {
    flex: 1;
    height: 100%;
    border: 3px solid transparent;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.statusBar {
    flex: 0;
    border-top: 1px solid #d0d0d0;
}

.header {
    flex: 0;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #d0d0d0;
}

.addBtn {
    flex: 0;
}

.tabs {
    flex: 1;
    overflow: auto;
}