<div class="outer-cnr disp-flex flex-col scrollable full-height mat-app-background">

    <app-toolbar class="small-bottom-lightgray-border">
        <button mat-icon-button
                matTooltip="Zum Home-Ordner wechseln"
                (click)="onGoHome()">
            <mat-icon class="material-symbols-outlined">home</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Aktualisieren"
                (click)="onRefresh()">
            <mat-icon class="material-symbols-outlined">refresh</mat-icon>
        </button>

        <app-files-create-menu [parent]="parent"
                               (create)="createDocument($event)"></app-files-create-menu>

        <!-- Selection/deselectopn -->
        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                matTooltip="Alles auswählen"
                (click)="onSelectAll()">
            <mat-icon class="material-symbols-outlined">check_box</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Auswahl aufheben"
                (click)="onDeselectAll()"
                [disabled]="!hasSelection">
            <mat-icon class="material-symbols-outlined">check_box_outline_blank</mat-icon>
        </button>

        <!-- Clipbord OPs-->
        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                matTooltip="Ausschneiden"
                (click)="onCut()"
                [disabled]="!hasSelection">
            <mat-icon class="material-symbols-outlined">content_cut</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Kopieren"
                (click)="onCopy()"
                [disabled]="!hasSelection">
            <mat-icon class="material-symbols-outlined">file_copy</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Kopieren"
                (click)="onLink()"
                [disabled]="!hasSelection">
            <mat-icon class="material-symbols-outlined">add_link</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Einfügen"
                [disabled]="!nrOfPastables"
                (click)="onPaste()">
            <mat-icon class="material-symbols-outlined"
                      [matBadge]="nrOfPastables"
                      matBadgePosition="after"
                      matBadgeColor="primary"
                      [matBadgeHidden]="!nrOfPastables">content_paste</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Clipboard löschen"
                (click)="onClearClipboard()"
                [disabled]="!nrOfPastables">
            <mat-icon class="material-symbols-outlined">content_paste_off</mat-icon>
        </button>

        <!-- Cloud Ops -->
        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                matTooltip="Dateien hoch laden"
                (click)="fileInput.click()">
            <mat-icon class="material-symbols-outlined">cloud_upload</mat-icon>
        </button>
        <input #fileInput
               type="file"
               class="hidden"
               multiple="true"
               (change)="onToolbarUpload($event)">

        <button mat-icon-button
                matTooltip="Dateien runter laden"
                (click)="onDownloadFiles()"
                [disabled]="!hasSelection">
            <mat-icon class="material-symbols-outlined">cloud_download</mat-icon>
        </button>

        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                matTooltip="Dateien löschen"
                (click)="onDelete()"
                [disabled]="!hasSelection">
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
        </button>

        <span class="flex-1"></span>

        <!-- Versteckte Dateien anzeigen/ausblenden-->
        <button mat-icon-button
                matTooltip="Versteckte Dateien anzeigen"
                (click)="onToggleHiddenFiles()">
            <mat-icon class="material-symbols-outlined"
                      *ngIf="!showHiddenFiles">visibility</mat-icon>
            <mat-icon class="material-symbols-outlined"
                      *ngIf="showHiddenFiles">visibility_off</mat-icon>
        </button>

        <!-- Preview on/off -->
        <button mat-icon-button
                matTooltip="Vorschau ein/aus"
                (click)="showPreview = !showPreview">
            <mat-icon class="material-symbols-outlined"
                      *ngIf="!showPreview">preview</mat-icon>
            <mat-icon class="material-symbols-outlined"
                      *ngIf="showPreview">preview_off</mat-icon>
        </button>

        <!-- IconSize-Menu -->
        <button mat-icon-button
                matTooltip="Icons-Größe auswählen"
                [matMenuTriggerFor]="sizeMenu">
            <mat-icon class="material-symbols-outlined">aspect_ratio</mat-icon>
        </button>

        <mat-menu #sizeMenu="matMenu">

            <mat-radio-group [(ngModel)]="iconSize">
                <div mat-menu-item
                     *ngFor="let size of iconSizes"
                     (click)="iconSize=size.size"
                     class="disp-flex flex-alignitems-center">
                    <mat-radio-button color="primary"
                                      class="flex-0"
                                      [value]="size.size"></mat-radio-button>
                    <span class="flex-1">{{size.text}}</span>
                </div>
            </mat-radio-group>

        </mat-menu>

        <mat-button-toggle-group name="viewMode"
                                 [(value)]="viewMode">

            <mat-button-toggle value="grid"
                               matTooltip="Raster-Darstellung">
                <mat-icon class="material-symbols-outlined">grid_on</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="list"
                               matTooltip="Listen-Darstellung">
                <mat-icon class="material-symbols-outlined">list</mat-icon>
            </mat-button-toggle>

        </mat-button-toggle-group>

    </app-toolbar>

    <div class="flex-1 disp-flex full-height scrollable flex-row">

        <app-files-places class="places"
                          (open)="openINode($event)">
        </app-files-places>

        <div class="panel">

            <div class="header">
                <div class="breadcrumb">
                    <app-files-bread-crumb-item *ngFor="let inode of path"
                                                [inode]="inode"
                                                (open)="openINode($event)">
                    </app-files-bread-crumb-item>
                </div>
            </div>

            <app-folder-view class="panel"
                             [viewMode]="viewMode"
                             [iconSize]="iconSize"
                             [showPreview]="showPreview"
                             [parent]="parent"
                             [childs]="childs"
                             [showHidden]="showHiddenFiles"
                             [selection]="selected"
                             (open)="openINode($event)"
                             (create)="createDocument($event)"
                             (upload)="uploadFiles($event)"
                             (copy)="copyINodes($event.target, $event.src)"
                             (move)="moveINodes($event.target, $event.src)"
                             (link)="linkINodes($event.target, $event.src)"
                             (rename)="renameINode($event)"
                             (delete)="deleteINodes($event)"
                             (selectionChanged)="onSelectionChange($event)"
                             (sendToDashboard)="onSendToDashboard($event)">
            </app-folder-view>

            <app-toolbar class="statusBar">
                Gesamt: {{nrOfChilds}} Objekte mit {{totalChildSize | fileSize}}
                <div *ngIf="hasSelection">
                    <app-toolbar-separator></app-toolbar-separator>
                    {{nrOfSelectedChilds}} Objekte mit {{selectedChildSize | fileSize}} ausgewählt
                </div>
            </app-toolbar>

        </div>
    </div>
</div>