<div class="outer-cnr disp-flex flex-col scrollable full-height mat-app-background">

    <app-toolbar class="small-bottom-lightgray-border">
        <button mat-icon-button
                matTooltip="Zum Home-Ordner wechseln"
                (click)="onGoHome()">
            <mat-icon class="material-symbols-outlined">home</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Aktualisieren"
                (click)="onRefresh()">
            <mat-icon class="material-symbols-outlined">refresh</mat-icon>
        </button>

        <app-files-create-menu [parent]="currentFolder"
                               (create)="onCreateDocument($event)"></app-files-create-menu>

        <!-- Selection/deselectopn -->
        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                matTooltip="Alles auswählen"
                (click)="onSelectAll()">
            <mat-icon class="material-symbols-outlined">check_box</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Auswahl aufheben"
                (click)="onDeselectAll()"
                [disabled]="!hasSelection">
            <mat-icon class="material-symbols-outlined">check_box_outline_blank</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Auswahl-Rahmen"
                (click)="onToggleSelectionFrame()">
            <mat-icon class="material-symbols-outlined">crop_free</mat-icon>
        </button>

        <!-- Clipbord OPs-->
        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                matTooltip="Ausschneiden"
                (click)="onCut()"
                [disabled]="!hasSelection">
            <mat-icon class="material-symbols-outlined">content_cut</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Kopieren"
                (click)="onCopy()"
                [disabled]="!hasSelection">
            <mat-icon class="material-symbols-outlined">file_copy</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Einfügen"
                [disabled]="!nrOfPastables"
                (click)="onPaste()">
            <mat-icon class="material-symbols-outlined"
                      [matBadge]="nrOfPastables"
                      matBadgePosition="after"
                      matBadgeColor="primary"
                      [matBadgeHidden]="!nrOfPastables">content_paste</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Clipboard löschen"
                (click)="onClearClipboard()"
                [disabled]="!nrOfPastables">
            <mat-icon class="material-symbols-outlined">content_paste_off</mat-icon>
        </button>

        <!-- Cloud Ops -->
        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                matTooltip="Dateien hoch laden"
                (click)="fileInput.click()">
            <mat-icon class="material-symbols-outlined">cloud_upload</mat-icon>
        </button>
        <input #fileInput
               type="file"
               class="hidden"
               multiple="true"
               (change)="onUpload($event)">

        <input #fileInput
               type="file"
               class="hidden"
               multiple="true"
               (change)="onUpload($event)">

        <button mat-icon-button
                matTooltip="Dateien runter laden"
                (click)="onDownloadFiles()"
                [disabled]="!hasSelection">
            <mat-icon class="material-symbols-outlined">cloud_download</mat-icon>
        </button>

        <app-toolbar-separator></app-toolbar-separator>
        <button mat-icon-button
                matTooltip="Dateien löschen"
                (click)="onDelete()"
                [disabled]="!hasSelection">
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Versteckte Dateien anzeigen"
                (click)="onToggleHiddenFiles()">
            <mat-icon class="material-symbols-outlined"
                      *ngIf="!showHiddenFiles">visibility</mat-icon>
            <mat-icon class="material-symbols-outlined"
                      *ngIf="showHiddenFiles">visibility_off</mat-icon>
        </button>


        <span class="flex-1"></span>

        <!-- IconSize-Menu -->
        <mat-button-toggle class="small-right-spacer"
                           matTooltip="Icons-Größe auswählen"
                           checked="false"
                           (click)="iconSizeMenu.show($event)">
            <mat-icon class="material-symbols-outlined">aspect_ratio</mat-icon>
            <app-files-iconsize-menu #iconSizeMenu
                                     (iconSize)="iconSize=$event"></app-files-iconsize-menu>
        </mat-button-toggle>


        <!-- SplitView-Toggle -->
        <mat-button-toggle class="small-right-spacer"
                           matTooltip="Anzeige aufteilen"
                           [checked]="showSplit"
                           (click)="onToggleSplitView()">
            <mat-icon class="material-symbols-outlined">splitscreen_landscape</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle-group name="viewMode"
                                 [(value)]="viewMode">

            <mat-button-toggle value="grid"
                               matTooltip="Raster-Darstellung">
                <mat-icon class="material-symbols-outlined">grid_on</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="list"
                               matTooltip="Listen-Darstellung">
                <mat-icon class="material-symbols-outlined">list</mat-icon>
            </mat-button-toggle>

        </mat-button-toggle-group>

    </app-toolbar>

    <div class="flex-1 disp-flex full-height scrollable flex-row">

        <app-files-places class="places"
                          (open)="onOpen(0, $event)">
        </app-files-places>

        <app-folder-view #leftPane
                         class="panel"
                         [class.activePane]="activePane === 0 && showSplit"
                         (click)="activePane = 0"
                         [current]="leftPanelFolder"
                         (open)="onOpen(0, $event)"
                         [viewMode]="viewMode"
                         [iconSize]="iconSize"
                         [showHidden]="showHiddenFiles"
                         (inodesGrabbed)="rightPane.reloadEntries()">
        </app-folder-view>

        <!--
        Die RightPane wird nur angezeigt, wenn der Benutzer dies via
        Toggle in der ActionBar angefordert hat.

        Ein einfaches ngIf funktioniert hier leider nicht, da die leftPane
        in Ihrem inodesGrabbed-Handler eine Referenz auf die rightPane 
        braucht. Deswegen class.hidden. Die Component bleibt im DOM, wird
        aber nicht mehr angezeigt.
        -->
        <app-folder-view #rightPane
                         class="panel"
                         [class.activePane]="activePane === 1 && showSplit"
                         (click)="activePane = 1"
                         [class.hidden]="!showSplit"
                         [current]="rightPanelFolder"
                         (open)="onOpen(1, $event)"
                         [viewMode]="viewMode"
                         [iconSize]="iconSize"
                         (inodesGrabbed)="leftPane.reloadEntries()">
        </app-folder-view>
    </div>
</div>