/**
 * Tab-Bodies sollen immer den komplett verfügbaren Raum einnehmen!
 */
.mat-tab-body-wrapper,
.mat-mdc-tab-body-wrapper {
    flex-grow: 1;
    border-top: 1px solid #d0d0d0;
}

.mat-mdc-tab-header {
    background-color: white;
}

.mat-mdc-header-cell, .mat-mdc-cell {
    border: none !important;
    vertical-align: middle !important;
}