.ql-container {
  box-sizing: border-box;
  /* font-family: 'Courier New', Courier, monospace;
  font-size: 16px; */
}

.ql-toolbar.ql-snow { border: none !important;}
.ql-container.ql-snow{ border: none !important;}

/*---------------------------------------------------------------------------*/
/*                                                                           */
/* all about the lineNumber-Module                                           */
/*                                                                           */
/*---------------------------------------------------------------------------*/
.ql-lineNumber {
  counter-reset: line;
  white-space: nowrap;
  white-space-collapse: preserve;
}

.ql-lineNumber p:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 0.5em;
  margin-right: 0.5em;
  width: 3em;
  text-align: end;
}