<div class="middle-padding">

    <div *ngFor="let inode of inodes; let i = index"
         class="item-cnr"
         (click)="activeINode=inode">

        <br *ngIf="mustBreak(i)">

        <app-files-grid-view-item [inode]="inode"
                                  [class.mat-elevation-z4]="isActiveINode(inode)"
                                  [class.mat-elevation-z1]="!isActiveINode(inode)"
                                  [appINodeDragSource]="inode"
                                  [appDropTarget]="inode"
                                  [iconSize]="iconSize"
                                  (inodesDropped)="onINodesDropped($event)"
                                  (filesDropped)="onFilesDropped($event)"
                                  [selected]="isSelected(inode)"
                                  (selectionChange)="onItemSelectionChange(inode, $event)"
                                  (open)="onOpen(inode)"
                                  (create)="onCreate($event)"
                                  (rename)="onRename(inode)"
                                  (cut)="onCut(inode)"
                                  (copy)="onCopy(inode)"
                                  (paste)="onPaste(inode)"
                                  (delete)="onDelete(inode)"
                                  (showProps)="onShowProps(inode)">
        </app-files-grid-view-item>

    </div>
</div>