mat-form-field, mat-chip-listbox {
    width: 100%;
}

.search-option {
    display: flex;
    align-items: center;
}

.search-option>span {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}